@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif; 
}

/* TAMAÑO DE LA BARRA DE SCROLL*/
body::-webkit-scrollbar {
    background-color: #ffffff;
    width: 15px;
}
/* color del boton de scrool  */
body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101);
}
/* boton subir */
#btnSubirArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 10px black;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
  }
  #btnSubirArriba i{
color: #ffffff;
  }
  #btnSubirArriba:hover {
    border: solid 10px rgb(75, 75, 75);
    background-color: rgb(75, 75, 75);
    transition: 0.5s;
  }
  


/*************************/
/*** MENU HAMBURGUESA ***/
/***********************/
    .navbar-toggler{
    border:solid 2px transparent;
} 
  .logo-navbar {
    color: var(--color-hover);
    font-size: 1.5em;
  }
  .navbar-toggler[aria-expanded="true"] .fa-bars {
    display: none;
  }
  .navbar-toggler[aria-expanded="true"] .fa-times {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded="false"] .fa-bars {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded="false"] .fa-times {
    display: none;
  }
  .navbar-collapse {
    transition: 0.5s ;
  }
 


/********************/
/*** MODO OSCURO ***/
/******************/
body.modo-oscuro {
    background-color: rgb(20, 20, 20);
    color: white;
  }
  .modo-oscuro .contenedor-imagen{
     background-color: rgb(20, 20, 20); 
  }
.modo-oscuro .contenedor-imagen img{
    width: 350px;
    height: 350px;
    margin-top: -80px;
    margin-left: 50px;
    filter: none;
    border: 6px solid rgb(255, 255, 255); 
    transition: transform 0.3s ease-in-out;
}
.modo-oscuro .contenedor-imagen2 img {
    border: 6px solid rgb(255, 255, 255); 
}
  .modo-oscuro .perfilTitulo{
    background-color: rgba(50, 50, 50, 1);
  }
  .modo-oscuro .perfilTitulo h1{
    -webkit-text-stroke: 1px #ffffff ;
  }
  .modo-oscuro .perfil-fondo{
    background-color: rgba(50, 50, 50, 1);
  }
.modo-oscuro .titulo-proyectos h1{
    -webkit-text-stroke: 1px #ffffff ;
}
  .modo-oscuro .sobre-mi {
    color: white;
    transition: 0.5s;
  }
  .modo-oscuro #sobremi .sobremi .parrafo{
    color: rgb(219, 219, 219);
  }
  .modo-oscuro #sobremi .sobremi h2{
    color: var(--color-hover);
  }
.modo-oscuro #sobremi .sobremi .titulo-seccion{
    color: white;
}
.modo-oscuro .logo-navBar-colores i{
    color: white;
}
.modo-oscuro .info-container-añosYproyectos h3{
    color: rgb(192, 192, 192);
}
.modo-oscuro .info-container-añosYproyectos p{
    color: var(--color-hover);
}
.modo-oscuro .navbar-bg{
    background-color:rgba(20, 20, 20, 0.800);
}
.modo-oscuro .parrafo-logo h3{
color: white;
}
.modo-oscuro .logos-imagen li{
    background-color: rgb(85, 81, 81);
}
.modo-oscuro .logos-imagen ul li a{
    color: rgb(255, 255, 255);
}
.modo-oscuro .logos-imagen ul li a:hover{
    color: var(--color-hover);
    border-radius: 6% 6% 6% 6%;
    transition: 0.5s;
    border: none;
}
.modo-oscuro .tecnologíasyhabilidades{
    color: rgb(255, 199, 88);
}
.modo-oscuro .fondo-contacto{
    background-color: rgb(50, 50, 50, 1);
}
.modo-oscuro .fondo-elige-un-color{
    background-color: rgb(50, 50, 50, 1);
    border: solid 2px rgb(70, 70, 70);
}
.modo-oscuro .elige-un-color{
    color: white;
    font-weight: 600;
}
.modo-oscuro .diseño-texto-navbar:hover{
    transition: 0.2s;
    color: var(--color-hover);
}
.modo-oscuro ul li .diseño-texto-navbar{
    color: white;
}
.modo-oscuro #btnSubirArriba{
    border: solid 10px rgb(255, 255, 255);
    background-color: #ffffff;
    transition: 0.5s;
}
.modo-oscuro #btnSubirArriba i{
    color: rgb(50, 50, 50, 1);
}
.modo-oscuro #btnSubirArriba i:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.modo-oscuro #btnSubirArriba:hover{
    border: solid 10px rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    transition: 0.5s;
}
.modo-oscuro .boton-frontEnd-diseñoUi button {
    color: white;
    border: none;
    background-color: rgb(44, 44, 44);
    cursor: pointer;
    outline: none; 
}
.modo-oscuro .titulo-perfil div h2 {
    color: white;
}
.modo-oscuro .titulo-perfil h1 {
    background-color: rgb(20, 20, 20);
    -webkit-text-stroke: 2px #ffffff3f ;
}
.modo-oscuro .perfil p{
     color: rgb(255, 255, 255); 
    font-weight: 600; 
}
.modo-oscuro .intereses ul li i{
    background-color: rgb(20, 20, 20);
}
.modo-oscuro .tecnologíasyhabilidades .tecnohabilidades p{
    color: rgb(255, 255, 255);
}



/***************************/
/*** BARRA DE NAVEGACIO ***/
/*************************/
/*** LOGO GR/ ***/
.parrafo-logo{
    padding-left: 2em;
}
.parrafo-logo p{
    color:var(--color-hover);
    font-size: 25px;
    transition: 0.5s;
}
.parrafo-logo h3{
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}
/*** SECCION INICIO ***/
#navbar {
    position: fixed;
    width: 100%;
    height: 60px; 
    transition: background-color 0.5s ease;
    padding: 0px;
  }
  .navbar-bg {
      background-color: hsla(0, 0%, 100%, 0.877);  
  }
  .posicion-nav {
    justify-content:space-evenly;
    width: auto;
}
.posicion-nav .marginLeft-del-navBar{
   margin-left: 30px;
}
/*** LOGOS DEL NAVBAR ***/
.logos-colores{
    display: flex;
    justify-content: center;
}
.logos-colores li{
    flex: 1;
  text-align: center;
  font-size: 1em;
}
.logo-navBar-colores i{
    color: rgb(0, 0, 0);
}
ul {
    display: flex;
    justify-content: center;
}
ul li {
    list-style: none;
}
ul li .sobre-mi {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    text-transform: uppercase;
     margin: 20px 0px; 
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    z-index: 1;
    padding-bottom: 5px;
    transition: 0.2s;
}
/* ANIMACION DEL ENGRANAJE */
.fa-gear{
    animation: homeSpinner 10s linear infinite;
}
@keyframes homeSpinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
 .fondo-elige-un-color{
    border: solid 2px rgb(70, 70, 70);
}
.elige-un-color{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
} 
  :root {
    --color-hover: rgb(255, 199, 88);
  }
  .diseño-texto-navbar:hover {
    transition: 0.2s;
    color: var(--color-hover);
  }
  .dropdown-menu.fondo-elige-un-color {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* Asegúrate de que el menú tenga un ancho específico para que se vea centrado */
.dropdown-menu.fondo-elige-un-color > div.logos-colores {
width: 200px; /* Puedes ajustar el ancho según tus necesidades */
margin: 0 auto;
}



/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
 #sobremi {
    margin: auto;
    color: #ffffff;
    display: flex;
    padding: 100px 0px 0px 0px; 
} 
#sobremi .sobremi {
    padding: 40px 0px 0px 50px;
}
#sobremi .sobremi .titulo-seccion {
    margin: 0px;
    display: inline-block;
    padding: 12px;
    font-weight: 600;
    border-radius:5px ;
    background-color: var(--color-hover);
    font-size: 1.5em;
    color: #ffffff;
}
.info-container-añosYproyectos {
     margin-top: 1em ; 
    padding: 20px 20px 0px 0px;
}
.info-container-añosYproyectos h3{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin: 0px;
}
.info-container-añosYproyectos p {
    font-size: 2em;
    padding:0px 12px 0px 0px;
    color: var(--color-hover);
    margin-bottom: 0px; 
    font-weight: 600;
    display: flex;
    align-items: end;
    font-family: 'Montserrat', sans-serif;
}
.fondo-imagen1Y2{
    background: linear-gradient(to right, transparent 50%, var(--color-hover) 50%); 
} 
#sobremi .sobremi h2 {
    font-size: 2em;
    font-weight: bold;
     margin: 30px 0px 20px 0px;  
    letter-spacing: 2px;
    color: var(--color-hover);
}
#sobremi .sobremi .parrafo {
    font-size: 1em;
    line-height: 25px;
    color: #777777;
    margin-bottom: 12px;
    font-weight: 600;
    /* padding: 0px 20px 0px 0px; */
}
#sobremi .sobremi .descargarCV {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: var(--color-hover);
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px;
    margin-top: 1em;
    transition: 0.5s;
}
/* IMAGEN SOBRE-MI */
/* imagen 1 */
.contenedor-imagen {
     background-color: white ; 
    width: 350px;
    height: 350px;
    padding-top: 20px;
    border: 10px solid var(--color-hover);
    box-sizing: border-box;
    border-radius: 10px;
}
.contenedor-imagen img{
    width: 350px;
    height: 350px;
margin-top: -80px;
margin-left: 50px;
/* filter: drop-shadow(16px 16px 20px rgba(189, 189, 189, 0.8)); */
   border: 6px solid rgb(66, 66, 66); 
transition: transform 0.3s ease-in-out;
border-radius: 10px;
}
.contenedor-imagen img:active {
    transition-duration: 0.05s;
}
.fondo-imagen-personal1{
     padding: 100px; 
}
.fondo-imagen-personal2{
    padding: 100px 100px 50px 100px; 
}
.contenedor-imagen-logos{
    display: flex;
    padding: 0px 50px 0px 0px;
}
.logos-imagen li{
    /* background-color: #e0e0e0; */
    background-color: #ffffff;
    border-radius: 10% 10% 10% 10%;
}
.logos-imagen ul{
   display: inline-block;
}
.logos-imagen ul li a{
    color: #000;
    font-size: 1.3em;
    transition: 0.5s;
}
.logos-imagen ul li a:hover{
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 10% 10% 10% 10%;
    transition: 0.5s;
    border: none;
}



/*****************/
/*** PROYECTOS ***/
/*****************/
#proyectos-diseno-ui {
    display: none;
}
.titulo-proyectos{
    background-color: rgb(44, 44, 44);
}
.titulo-proyectos h1{
    padding-top: 100px;
     margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 1px #ffffff ;
    opacity: 0.2;
    /* text-decoration: underline;
    text-decoration-color: var(--color-hover); */
}
.titulo-proyectos h2{
    color: rgb(255, 255, 255);
    margin: 0px;
}
.titulo-proyectos i {
    display: flex;
    align-items: center;
    color: var(--color-hover);
    margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
    margin-left: 5px; /* Ajusta el margen izquierdo según tus preferencias */
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  .proyectosDescripcion {
    max-width: 480px;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: left;
}
.proyectosDescripcion h2 {
    text-align: left;
    padding: 16px 0px 16px 0px;
    font-size: 1.8em;
    font-weight: 600;
    color: white;
}
.proyectosDescripcion p {
    text-align: left;
    font-weight: 600;
    color: #777777;
}
#proyectos {
    background-color: rgb(44, 44, 44);
    padding: 0em 6em 3em 6em;
}
#proyectos .fila {
    display: flex;
    justify-content: space-between;
    margin: 5em 0em 10em 0em;
    border-radius: 25px;
    transition: 0.3s; 
}
#proyectos .fila .proyecto {
    max-width: 480px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 5px rgba(255, 199, 88, 0.596);    
}
.boton-frontEnd-diseñoUi {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}
.boton-frontEnd-diseñoUi button {
    border: none;
    background-color: rgb(44, 44, 44);
    cursor: pointer;
    outline: none; 
    color: white;
}
.boton-frontEnd-diseñoUi h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
.resaltado {
    color: var(--color-hover);
    text-decoration: underline;
    text-decoration-color: var(--color-hover);
    text-decoration-thickness: 4px;
}
#proyectos .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#proyectos .fila .proyecto:hover img {
    filter: grayscale(0);
}
#proyectos .fila .proyecto .informacion-proyectos {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
}
#proyectos .fila .proyecto .informacion-proyectos p{
    color: var(--color-hover);
}
#proyectos .fila .proyecto:hover .informacion-proyectos {
    opacity: 1;
    bottom: 0;
}
.espacio-ver-repositorio .ver{
    margin-right: 100px;
    }
    
    

/**************/
/*** PERFIL ***/
/**************/
.perfil{
    padding: 0px 60px 0px 60px;
    margin: auto;
}
.perfil-seccion2{
    padding: 60px 60px 0px 60px;
    margin: auto;
     background-color: rgb(255, 255, 255); 
}
.perfil h1{
    color: rgb(44, 44, 44);
}
.perfil p{
     color: rgb(44, 44, 44); 
    font-weight: 600;
    
}
.perfil .perfil-titulo-sobreMi{
    display: flex;
}
.perfil-titulo-sobreMi p{
    margin-bottom: 1em;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--color-hover);
    font-size: 1.5em;
    color: #ffffff;
}
.perfil .perfil-titulo-intereses{
    display: flex;
}
.perfil-titulo-intereses p{
    margin-bottom: 1em;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--color-hover);
    font-size: 1.5em;
    color: #ffffff;
}
.titulo-tecnologíasYhabilidades p{
    font-size: 1.5em;
    margin-top: 2em;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--color-hover);
    color: #ffffff;
}
.titulo-perfil{
    border-top: solid 5px var(--color-hover);
}
.titulo-perfil h1{
     background-color: rgb(255, 255, 255); 
    padding-top: 100px;
     margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 2px #0000003f ;
    /* text-decoration: underline;
    text-decoration-color: var(--color-hover); */
}
.titulo-perfil h2{
    color: rgb(0, 0, 0);
    margin: 0px;
}
.titulo-perfil i {
    display: flex;
    align-items: center;
    color: var(--color-hover);
    margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
    margin-left: 5px; /* Ajusta el margen izquierdo según tus preferencias */
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
.perfilTitulo{
    background-color: rgb(66, 66, 66); 
}
.perfilTitulo h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 1px #ffffff3f ;
    opacity: 0.2;
    margin: 0px;
    /* text-decoration: underline;
    text-decoration-color: var(--color-hover); */
    padding-bottom: 12px;
}
.habilidades-blandas{
    padding: 0px 0px 50px 50px; 
}
.habilidades-blandas h3{
    font-size: 1.5em;
    margin-top: 2em;
    display: inline-block;
     padding: 12px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--color-hover);
    color: #ffffff;
}
.habilidades-blandas .opciones{
    font-size: 1em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 20px 5px 0px;
}
.habilidades-blandas .opciones div{
    border: solid 2px var(--color-hover);
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
}
.opciones p{
    margin: 0px;
    font-size: 14px;
}
.tecnologíasyhabilidades{
     padding: 0px 0px 50px 100px; 
}
.tecnologíasyhabilidades h3{
    font-size: 1.5em;
    margin-top: 2em;
    display: inline-block;
    padding: 12px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--color-hover);
    color: #ffffff;
}
 .tecnologíasyhabilidades .tecnohabilidades{
    font-size: 1em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #e9e9e9; */
    text-decoration: none;
    color: #1b1b1b;
    border-radius: 30px;
    /* border: 3px solid #00000042; */
    padding: 5px 20px 5px 0px;
    margin-top: 30px;
    transition: 0.5s;
}
.tecnologíasyhabilidades .tecnohabilidades p {
    padding-top: 2% ;
    margin: 0px 0px 0px 10px;
align-items: center;
  }
  .iconos-prueba i{
    font-size: 2em;
color: var(--color-hover);
transition: 0.3s;
}
  .intereses ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
   
  }
  .intereses ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 0px;
    font-size: 16px;
  }
  .intereses ul li i {
    font-size: 32px;
    color: var(--color-hover);
    margin-bottom: 10px;
    background-color: white;
    padding: 12px;
    border-radius: 50px;
   border: solid 3px var(--color-hover);
  }
  .intereses ul li h2 {
    font-size: 20px;
    margin: 0;
  }
  .intereses ul li:hover {
    color: #000;
  }
/* imagen 2 */
.contenedor-imagen2 {
    width: 350px;
    height: 350px;
    padding-top: 20px;
    border: 10px solid var(--color-hover);
    box-sizing: border-box;
    border-radius: 10px;
}
.contenedor-imagen2 img {
    width: 350px;
    height: 350px;
    margin-top: -80px;
    margin-left: 50px;
    /* filter: drop-shadow(16px 16px 20px rgba(189, 189, 189, 0.8)); */
    border: 6px solid rgb(66, 66, 66);
    transition: transform 0.3s ease-in-out, border-width 0.3s ease-in-out;
    border-radius: 10px;
    animation-delay: 10.1s;
  }



/***************/
/*** GALERIA ***/
/***************/
.titulo-dibujos h1{
    margin: 0;
    border-top: solid 5px var(--color-hover);
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 1px #ffffff3f ;
    /* text-decoration: underline;
    text-decoration-color: var(--color-hover); */
}
.titulo-dibujos i {
    display: flex;
    align-items: center;
    color: var(--color-hover);
    margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
    margin-left: 5px; /* Ajusta el margen izquierdo según tus preferencias */
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
.titulo-dibujos h2{
    color: rgb(231, 231, 231);
    margin: 0px;
}
.Galeria-img {
    background-color: rgb(44, 44, 44); 
    display: grid;
    grid-gap: 20px;
    padding: 5rem 8rem 5rem 8rem;
    margin: 0 auto;
  }
  @media (min-width: 600px) {
    .Galeria-img {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 6em;
    }
  }
  @media (min-width: 800px) {
    .Galeria-img {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
    }
  }
  .Galeria-img .fila {
    display: flex;
    justify-content: space-between;
  }
  .Galeria-img .fila .imagenes {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 15px;
  }
  .Galeria-img .fila .imagenes:hover {
    box-shadow: 5px 5px 10px 5px var(--color-hover);
    transition: 0.3s;
  }
  .info {
    position: absolute;
    background: rgba(0, 0, 0, 0.603);
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 1; /* Cambiado a 1 por defecto */
    bottom: 0;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
}
.info h1 {
    padding: 1em;
    font-size: 1.2em;
    display: flex;
    justify-content: left;
    color: var(--color-hover); 
}
.info p {
     padding-top: 50%;
    font-size: 1em;
    text-align: center; /* Centra el texto */
    letter-spacing: 5px;
}
.Galeria .fila .imagenes .info {
    opacity: 1;
    bottom: 0;
    transition: .5s;
}
.Galeria .fila .imagenes:hover .info {
    opacity: 0;
    bottom: -1000px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
[class^="grid-hijo"] {
    border: 1px solid rgb(43, 43, 43);
}



/*************************/
/*** SECCION CONTACTO ***/
/***********************/
.fondo-contacto{
    border-top: 5px solid var(--color-hover); 
     background-color: rgb(66, 66, 66); 
}
.fondo-contacto h3{
    color: white;
}
.texto-portafolio-contacto {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.speace-around-entre-objetos-contacto {
    padding: 0px;
    justify-content: center;
}
.z .y {
    list-style: none;
}
.z .y .r {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.z .y .r .iconn {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
.z .y .r:hover .iconn {
    color: #fff;
    transform: rotateY(360deg);
}
.z .y .r:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.z .y .r:hover:before {
    top: 0;
}
.z .y:nth-child(1) .r:before {
    background: #3b5999;
}
.z .y:nth-child(2) .r:before {
    background: #000000;
}
.z .y:nth-child(3) .r:before {
    background: #0077b5;
}
.z .y:nth-child(4) .r:before {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.z .y:nth-child(5) .r:before {
    background: #f00;
}



/**********************/
/*** SECCION FOOTER ***/
/**********************/
.fondo-footer {
    background-color: rgb(43, 43, 43);
}
.tamaño-parrafo-footer {
    font-size: 20px;
}



 /*****************************/
/**** SECCION RESPONSIVE ****/
/***************************/
/* ESTILOS NAVBAR */
@media screen and (min-width: 320px) and (max-width: 991px){
    /*** Navbar ***/
.posicion-nav .marginLeft-del-navBar{
margin-left: 0px;
}
.navbar-bg {
    background-color: rgb(44, 44, 44);
 }
 .modo-oscuro .navbar-bg{
   background-color:rgb(0, 0, 0);
}
   ul li .sobre-mi {
      color: white;
       padding-bottom: 5px;
       padding: 10px 10px;
       margin: 10px 0px;
   }
/*** LOGOS DEL NAVBAR ***/
   .logo-navBar-colores{
       color: rgb(0, 0, 0);
       flex-direction: row;
       justify-content:left; 
   }
   .logo-navBar-colores i{
       color: rgb(255, 255, 255);
       padding: 0px 20px;
   }
  .logos-colores i{
   padding: 0px 10px;
  }
   .fondo-elige-un-color{
       background-color: rgb(0, 0, 0, 0.877);
       border: solid 2px rgb(117, 117, 117);
      margin-left: -95px;
       margin-bottom: 15px;
   }
   .elige-un-color{
       color: white;
   } 
  .fondo-nav {
   background-color: rgb(0, 0, 0, 0.877);
}
/*** LOGO GR/ ***/
.parrafo-logo{
   padding-left: 0em;
}
    .parrafo-logo h3{
        color: rgb(255, 255, 255);
       }
    .hamburger {
        padding: 15px;
        margin-right: 0em;
       }
} 
/* RESPONSIVE, INFORMACION DE LOS PROYECTOS */
   @media screen and (min-width:320px) and (max-width: 400px){
/*****************/
/*** PROYECTOS ***/
/*****************/
#portfolio .fila .proyecto p{
  font-size: 10px;
}
#portfolio .fila .proyecto h4{
   font-size:10px;
}
#portfolio .fila .proyecto h6 {
   font-size: 10px; 
}
.espacio-ver-repositorio i{
   font-size: 10px;
   }
}


@media screen and (min-width: 1251px) and (max-width: 1700px){
/******************/
/*** ACERCA DE ***/
/****************/
}
 @media screen and (min-width: 992px) and (max-width: 1250px){
    section>div {
        display: grid;
        grid-template-areas:
            "div1 div4 div5 div11"
            "div2 div4 div5 div7"
            "div3 div6 div6 div7"
            "div9 div8 div10 div12"
            "div9 div8 div10 div12";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 150px);
        border-radius: 10px;
        padding: 1rem;
        gap: 20px;}
/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
#sobremi {
    padding: 100px 0px 0px 0px; 
} 
#sobremi .sobremi {
    padding: 40px 5px 0px 5px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
}
#sobremi .sobremi h2 {
    font-size: 19px;
    margin: 10px 0;
}
#sobremi .sobremi span {
    font-size: 19px;
}
#sobremi .sobremi .console-container {
    font-size: 19px;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen-logos{
    display: flex;
} 
.contenedor-imagen {
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen2 {
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.contenedor-imagen2 img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.fondo-imagen-personal1{
    margin-top: 0em;
    padding: 50px;
}
.fondo-imagen-personal2{
    margin-top: 0em;
    padding: 50px;
}
.logos-imagen li{
    background-color: #e0e0e0;
    border-radius: 10% 10% 10% 10%;
    margin: auto;
    margin: 20px 0px;
}
.logos-imagen ul{
   display: inline-block;
   margin-left: 2em;
   padding: 0px;
}
.logos-imagen ul li a{
    margin: 0px;
    font-size: 1.3em;
}
/******************/
/*** ACERCA DE ***/
/****************/
.gonzalo-robledo-sobreMi{
    margin-top: 0px;
    margin: 7px 0px 0px 0px;
}
.perfilTitulo h1{
    margin: 0px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
.tecnologíasyhabilidades h3{
    font-size:1.4em;
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 130px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila {
    display: flex;
    margin: 12px 0;
}
#portfolio .fila .proyecto p{
   font-size: auto;
}
#portfolio .fila .proyecto h4{
    font-size:auto;
 }
#portfolio .fila .proyecto h6 {
    font-size: auto; 
}
#portfolio .fila .proyecto .info {
    padding: 10px;
}
#portfolio .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }
/*****************/
/*** CONTACTO ***/
/***************/
.speace-around-entre-objetos-contacto {
    padding: 0px;
}
.y {
    padding-top: 20px;
    padding: 0px 30px;
}
    .z .y .r {
        margin: auto;
    }
/**********************/
/*** SECCION FOOTER ***/
/**********************/
.tamaño-parrafo-footer {
    font-size: 20px;
    padding: 0px 5px;
}
}
@media screen and (min-width: 931px) and (max-width: 992px){
    section>div {
        display: grid;
        grid-template-areas:
            "div1 div4 div5 div11"
            "div2 div4 div5 div7"
            "div3 div6 div6 div7"
            "div9 div8 div10 div12"
            "div9 div8 div10 div12";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 140px);
        border-radius: 10px;
        padding: 1rem;
        gap: 20px;
    }
/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
#sobremi {
    padding: 100px 0px 0px 0px; 
} 
#sobremi .sobremi {
    padding: 40px 5px 0px 5px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
}
#sobremi .sobremi h2 {
    font-size: 19px;
    margin: 10px 0;
}
#sobremi .sobremi span {
    font-size: 19px;
}
#sobremi .sobremi .console-container {
    font-size: 19px;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen-logos{
    flex-direction: column;
} 
.contenedor-imagen {
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen2 {
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.contenedor-imagen2 img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.fondo-imagen-personal1{
    margin-top: 2em;
    padding: 50px;
}
.fondo-imagen-personal2{
    margin-top: 2em;
    padding: 50px;
}
.logos-imagen li{
    background-color: #e0e0e0;
    border-radius: 10% 10% 10% 10%;
    margin: auto;
}
.logos-imagen ul{
   display:flex;
   margin-left: 0em;
   padding: 0px;
}
.logos-imagen ul li a{
    margin: 0px;
    font-size: 1.3em;
}
/******************/
/*** ACERCA DE ***/
/****************/
.gonzalo-robledo-sobreMi{
    margin-top: 0px;
    margin: 7px 0px 0px 0px;
}
.perfilTitulo h1{
    margin: 0px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
.tecnologíasyhabilidades h3{
    font-size:1.4em;
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 130px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila {
    display: flex;
    margin: 12px 0;
}
#portfolio .fila .proyecto p{
   font-size: auto;
}
#portfolio .fila .proyecto h4{
    font-size:auto;
 }
#portfolio .fila .proyecto h6 {
    font-size: auto; 
}
#portfolio .fila .proyecto .info {
    padding: 10px;
}
#portfolio .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }
/*****************/
/*** CONTACTO ***/
/***************/
.speace-around-entre-objetos-contacto {
    padding: 0px;
}
.y {
    padding-top: 20px;
    padding: 0px 30px;
}
    .z .y .r {
        margin: auto;
    }
/**********************/
/*** SECCION FOOTER ***/
/**********************/
.tamaño-parrafo-footer {
    font-size: 20px;
    padding: 0px 5px;
}
}


@media screen and (min-width: 769px) and (max-width: 930px){
    section>div {
        display: grid;
        grid-template-areas:
            "div1 div4 div5 div11"
            "div2 div4 div5 div7"
            "div3 div6 div6 div7"
            "div9 div8 div10 div12"
            "div9 div8 div10 div12";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 90px);
        border-radius: 10px;
        padding: 1rem;
        gap: 10px;
    }
/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
#sobremi {
    display: block;
    padding: 100px 0px 0px 0px;
} 
#sobremi .sobremi {
    padding: 40px 5px 0px 5px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
}
#sobremi .sobremi h2 {
    font-size: 19px;
    margin: 10px 0;
}
#sobremi .sobremi span {
    font-size: 19px;
}
#sobremi .sobremi .console-container {
    font-size: 19px;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen-logos{
    flex-direction: column;
} 
.contenedor-imagen {
    margin: auto;
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen2 {
    margin: auto;
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.contenedor-imagen2 img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.fondo-imagen-personal1{
    margin-top: 2em;
    padding: 50px;
}
.fondo-imagen-personal2{
    margin-top: 2em;
    padding: 50px;
}
.logos-imagen li{
    background-color: #e0e0e0;
    border-radius: 10% 10% 10% 10%;
    margin: auto;
}
.logos-imagen ul{
   display:flex;
   margin-left: 0em;
   padding: 0px;
}
.logos-imagen ul li a{
    margin: 0px;
    font-size: 2.0em;
}
/******************/
/*** ACERCA DE ***/
/****************/
.gonzalo-robledo-sobreMi{
    margin-top: 0px;
    margin: 7px 0px 0px 0px;
}
.perfilTitulo h1{
    margin: 0px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
.tecnologíasyhabilidades h3{
    font-size:1.4em;
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 130px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila {
    display: flex;
    margin: 12px 0;
}
#portfolio .fila .proyecto p{
   font-size: auto;
}
#portfolio .fila .proyecto h4{
    font-size:auto;
 }
#portfolio .fila .proyecto h6 {
    font-size: auto; 
}
#portfolio .fila .proyecto .info {
    padding: 10px;
}
#portfolio .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }
/*****************/
/*** CONTACTO ***/
/***************/
.speace-around-entre-objetos-contacto {
    padding: 0px;
}
.y {
    padding-top: 20px;
    padding: 0px 30px;
}
    .z .y .r {
        margin: auto;
    }
/**********************/
/*** SECCION FOOTER ***/
/**********************/
.tamaño-parrafo-footer {
    font-size: 20px;
    padding: 0px 5px;
}
}


@media screen and (min-width: 577px) and (max-width: 768px){
/***************/
/*** DIBUJOS ***/
/***************/
section>div {
    display: block;
}
.gallery-block img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    padding: 15px 0px;
}
/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
#sobremi {
    display: block;
    padding: 100px 0px 0px 0px;
} 
#sobremi .sobremi {
    padding: 40px 5px 0px 5px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
}
#sobremi .sobremi h2 {
    font-size: 19px;
    margin: 10px 0;
}
#sobremi .sobremi span {
    font-size: 19px;
}
#sobremi .sobremi .console-container {
    font-size: 19px;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen-logos{
    flex-direction: column;
} 
.contenedor-imagen {
    margin: auto;
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen2 {
    margin: auto;
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.contenedor-imagen2 img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.fondo-imagen-personal1{
    margin-top: 2em;
    padding: 50px;
}
.fondo-imagen-personal2{
    margin-top: 2em;
    padding: 50px;
}
.logos-imagen li{
    background-color: #e0e0e0;
    border-radius: 10% 10% 10% 10%;
    margin: auto;
}
.logos-imagen ul{
   display:flex;
   margin-left: 0em;
   padding: 0px;
}
.logos-imagen ul li a{
    margin: 0px;
    font-size: 2.0em;
}
/******************/
/*** ACERCA DE ***/
/****************/
.gonzalo-robledo-sobreMi{
    margin-top: 0px;
    margin: 7px 0px 0px 0px;
}
.perfilTitulo h1{
    margin: 0px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
.tecnologíasyhabilidades h3{
    font-size:1.4em;
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 130px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila {
    display: flex;
    margin: 12px 0;
}
#portfolio .fila .proyecto p{
   font-size: 10px;
}
#portfolio .fila .proyecto h4{
    font-size: 10px;
 }
#portfolio .fila .proyecto h6 {
    font-size: 10px; 
}
#portfolio .fila .proyecto .info {
    padding: 10px;
}
#portfolio .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: 10px;
    }
/*****************/
/*** CONTACTO ***/
/***************/
    .speace-around-entre-objetos-contacto {
        padding: 0px;
    }
    .y {
        padding-top: 20px;
        padding: 0px 15px;
    }
    .z .y .r {
        margin: auto;
    }
/**********************/
/*** SECCION FOOTER ***/
/**********************/
.tamaño-parrafo-footer {
    font-size: 20px;
    padding: 0px 5px;
}
}


@media screen and (min-width:481px) and (max-width: 576px) {
/***************/
/*** DIBUJOS ***/
/***************/
section>div {
    display: block;
}
.gallery-block img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    padding: 15px 0px;
}
/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
#sobremi {
    padding: 100px 0px 0px 0px; 
} 
#sobremi .sobremi {
    padding: 40px 5px 0px 5px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
}
#sobremi .sobremi h2 {
    font-size: 19px;
    margin: 10px 0;
}
#sobremi .sobremi span {
    font-size: 19px;
}
#sobremi .sobremi .console-container {
    font-size: 19px;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen-logos{
    flex-direction: column;
} 
.contenedor-imagen {
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen2 {
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.contenedor-imagen2 img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.fondo-imagen-personal1{
    margin-top: 2em;
    padding: 50px;
}
.fondo-imagen-personal2{
    margin-top: 2em;
    padding: 50px;
}
.logos-imagen li{
    background-color: #e0e0e0;
    border-radius: 10% 10% 10% 10%;
    margin: auto;
}
.logos-imagen ul{
   display:flex;
   margin-left: 0em;
   padding: 0px;
}
.logos-imagen ul li a{
    margin: 0px;
    font-size: 1.3em;
}
/******************/
/*** ACERCA DE ***/
/****************/
.gonzalo-robledo-sobreMi{
    margin-top: 0px;
    margin: 7px 0px 0px 0px;
}
.perfilTitulo h1{
    margin: 0px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
.tecnologíasyhabilidades h3{
    font-size:1.4em;
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 130px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila {
    flex-direction: column;
    margin: 12px 0;
}
#portfolio .fila .proyecto p{
   font-size: auto;
}
#portfolio .fila .proyecto h4{
    font-size:auto;
 }
#portfolio .fila .proyecto h6 {
    font-size: auto; 
}
#portfolio .fila .proyecto .info {
    padding: 10px;
}
#portfolio .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }
/*****************/
/*** CONTACTO ***/
/***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
/**********************/
/*** SECCION FOOTER ***/
/**********************/
.tamaño-parrafo-footer {
    font-size: 20px;
    padding: 0px 5px;
}
}






 @media screen and (min-width:320px) and (max-width: 480px) {
/**************/
/*** Navbar ***/
/**************/
    .dropdown-menu.fondo-elige-un-color {
        position: absolute;
        left: 0%;
        transform: translateX(0%);
    }
    .dropdown-menu.fondo-elige-un-color > div.logos-colores {
        width: auto;
        margin: 0 auto;
    }
/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
 #sobremi {
    padding: 100px 0px 0px 0px; 
} 
#sobremi .sobremi {
    padding: 20px 15px 0px 15px;
}
.info-container-añosYproyectos {
    margin-top: 1em;
     padding: 0px 0px 0px 0px; 
}
.descargarCv-copiarLinkGmail{
    display: flex;
}
.descargarCv-copiarLinkGmail a{
   font-size: 12px;
}
.añosDeExperiencia-proyectosCreados{
    padding: 10px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
}
#sobremi .sobremi h2 {
    font-size: 1.5em;
    margin: 20px 0;
}
#sobremi .sobremi .console-container {
    font-size: 19px;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen-logos{
    flex-direction: column;
        padding: 0px 0px 0px 0px;
} 
.contenedor-imagen {
    max-width: 100%;
    height:auto;
    border: 5px solid var(--color-hover);
}
.contenedor-imagen2 {
    max-width: 100%;
    height:auto;
    border: 5px solid var(--color-hover);
}
.contenedor-imagen img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(66, 66, 66); 
}
.contenedor-imagen2 img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(66, 66, 66); 
}
.fondo-imagen-personal1{
    margin-top: 2em;
    padding: 40px;
}
.logos-imagen ul{
    display:flex;
    margin-left: 0em;
    padding: 0px;
 }
.logos-imagen li{
    background-color: rgb(44, 44, 44);
    border-radius: 10% 10% 10% 10%;
    margin: auto;
}
.logos-imagen ul li a{
    margin: 0px;
    font-size: 1.3em;
    color: white;
}
.logos-imagen ul li a:hover{
    margin: 0px;
    font-size: 1.3em;
    color: var(--color-hover);
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#proyectos {
    background-color: rgb(44, 44, 44);
    padding: 0em 1em 3em 1em;
}
.boton-frontEnd-diseñoUi h1 {
    font-size: 1.5em;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: center;
    padding-top: 50px;
}
.proyectosDescripcion h2 {
    text-align: center;
    font-size: 1.5em;
}
.proyectosDescripcion p {
    text-align: center;
}
#proyectos .fila {
    flex-direction: column;
    margin: 10px 0;
}
#proyectos .fila .proyecto {
    box-shadow: 6px 6px 6px 1px rgba(255, 199, 88, 0.596);
    border-radius: 15px;
    max-width: 450px;
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
    order: 1;
}
#proyectos .fila .proyecto p{
   font-size: 10px;
}
#proyectos .fila .proyecto h4{
    font-size: 10px;
 }
#proyectos .fila .proyecto h6 {
    font-size: 10px; 
}
#proyectos .fila .proyecto .info {
    padding: 10px;
}
#proyectos .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }
/***************/
/*** PERFIL ***/
/**************/
.col-6{
    width: 100%;
}
.columna-1{
    display: block;
}
.titulo-perfil h1 {
    padding-top: 50px;
    }
.fondo-imagen-personal2{
    margin-top: 1em;
    padding: 40px;
}
.perfil .perfil-titulo-sobreMi{
    margin-top: 3em;
    font-size: 1em;
    justify-content: center;
}
.perfil .perfil-titulo-intereses{
    justify-content: center;
}
.perfil {
    padding: 0px 0px 0px 0px;
    margin: auto;
}
.perfil .intereses-titulo {
    font-size: 1em;
   display: flex;
   justify-content: center;
}
/*************/
/* Columna 2 */
/*************/
.columna-2{
    display: block;
}
/* INTERESES */
.intereses ul {
    padding: 0px 20px;
    justify-content: center;
    }
    .intereses ul li i {
        font-size: 26px;
      }
    .intereses ul li {
        margin: 10px 10px 10px 10px;
        font-size: 9px;
      }
/* tecnologias y habilidades */
.titulo-tecnohabilidades{
    display: flex;
    justify-content: center;
}
.tecnologíasyhabilidades h3 {
    font-size: 1em;
    margin-top: 2em;
}
.tecnologíasyhabilidades {
    padding: 0px 0px 0px 0px;
}
.tecnologíasyhabilidades div p{
    font-size: 10px;
}
/* habilidades blandas */
.titulo-habilidadesBlandas{
    display: flex;
    justify-content: center;
}
.titulo-habilidadesBlandas h3{
    font-size: 1em;
}
.habilidades-blandas {
    padding: 0px 0px 30px 0px;
}
.habilidades-blandas .opciones p {
    font-size: 10px ;
}
/***************/
/*** DIBUJOS ***/
/***************/
.Galeria-img {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-gap: 20px;
    padding: 3rem 3rem 5rem 3rem;
    margin: 0 auto;
}
.info .bob-esponja {
    padding-top: 30%;
}
.info .super-campeones {
    padding-top: 30%;
}
.info .tomYjerryAncianos {
    padding-top: 10%;
}
.info .tomYjerry {
    padding-top: 10%;
}
.info .hellsing {
    padding-top: 25%;
}
.info .krilin {
    padding-top: 20%;
}
.info .random {
    padding-top: 0%;
}
.info .jovenes-titanes {
    padding-top: 20%;
}
.info .jakeLong {
    padding-top: 0%;
}
.info .silvestreYpiolin {
    padding-top: 10%;
}
.info .stitch {
    padding-top: 15%;
}
/*****************/
/*** CONTACTO ***/
/***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
/**********************/
/*** SECCION FOOTER ***/
/**********************/
.tamaño-parrafo-footer {
    text-align: center;
    font-size: 1em;
    padding: 0px 5px;
}
}