@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


/* :root {
    --text-color: #ffffff;
    --text-secondary: #b3b3b3;
    --accent-color: #ffd700;
    --btn-primary: #ffd700;
    --bg-color: #121212;
    --card-bg-color: #1e1e1e;
    --btn-secondary: #2c2c2c;
} */

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: 'Montserrat', sans-serif; 
}

/* TAMAÑO DE LA BARRA DE SCROLL*/
body::-webkit-scrollbar {
    background-color: black;
    width: 15px;
}
/* color del boton de scrool  */
body::-webkit-scrollbar-thumb {
    background-color:  var(--color-hover);
    cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101);
}
/* boton subir */
#btnSubirArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 10px black;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    padding: 1px 6px;
  }
  #btnSubirArriba i{
color: #ffffff;
  }
  #btnSubirArriba:hover {
    border: solid 10px rgb(75, 75, 75);
    background-color: rgb(75, 75, 75);
    transition: 0.5s;
  }
  


/*************************/
/*** MENU HAMBURGUESA ***/
/***********************/
.navbar-toggler{
border:solid 2px transparent;
} 
  .logo-navbar {
    color: var(--color-hover);
    font-size: 1.5em;
  }
  .navbar-toggler[aria-expanded="true"] .fa-bars {
    display: none;
  }
  .navbar-toggler[aria-expanded="true"] .fa-times {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded="false"] .fa-bars {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded="false"] .fa-times {
    display: none;
  }
  .navbar-collapse {
    transition: 0.5s ;
  }
 
  

/**************************/
/*** BARRA DE NAVEGACIO ***/
/**************************/
/*** SECCION INICIO ***/
#navbar {
    position: fixed;
    width: 100%;
    height: 60px; 
    transition: background-color 0.5s ease;
    padding: 0px;
  }
  .navbar-bg {
       /* background-color:rgba(20, 20, 20, 0.74); */
       background-color:rgba(44, 44, 44, 0.74); 
       backdrop-filter: blur(10px);
  }
  .posicion-nav {
    justify-content:space-evenly;
    width: auto;
}
ul li .text-navbar {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 0px 0px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}
/*** LOGO GR/ ***/
.parrafo-logo{
    padding-left: 2em;
}
.parrafo-logo p{
    color:var(--color-hover);
    font-size: 25px;
    transition: 0.5s;
}
.parrafo-logo h3{
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}
.posicion-nav .marginLeft-del-navBar{
   margin-left: 30px;
}
/*** LOGOS DEL NAVBAR ***/
.logos-colores{
    display: flex;
    justify-content: center;
}
.logos-colores li{
    flex: 1;
  text-align: center;
  font-size: 1em;
}
.logo-navBar-colores i{
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    transition: 0.5s;
}
.logo-navBar-colores i:hover{
    color:var(--color-hover);
    transition: 0.5s;
}

.logo-es-en-engranaje{
    color: white;
    font-weight: 600;
    margin: 0px 10px;
    
}
.logo-es-en-engranaje:hover{
    color: var(--color-hover);
}
/* ANIMACION DEL ENGRANAJE */
.fa-gear{
    animation: homeSpinner 10s linear infinite;
}
@keyframes homeSpinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
 .fondo-elige-un-color{
    background-color: #121212;
    color: white;
    border: solid 2px rgb(70, 70, 70);
}
.elige-un-color{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
} 
  :root {
    --color-hover: rgb(255, 199, 88); 
    /* --color-hover: #e6c200; */
  }
  .diseño-texto-navbar:hover {
    transition: 0.2s;
    color: var(--color-hover);
  }
  .dropdown-menu.fondo-elige-un-color {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* Asegúrate de que el menú tenga un ancho específico para que se vea centrado */
.dropdown-menu.fondo-elige-un-color > div.logos-colores {
width: 200px; /* Puedes ajustar el ancho según tus necesidades */
margin: 0 auto;
}



/**************/
/*** HEADER ***/
/**************/
.fondoGrid{
    --background-overlay: '';
    background-image: url(https://kfkit.rometheme.pro/brant/wp-content/uploads/sites/44/2023/01/BG-1.png);
    background-position: center center;
    background-size: cover; 
     /* background-size: contain;    */
    background-color: rgb(44, 44, 44); 
    /* background-color: #2a2b30; rgb(255, 199, 88); */
    border-bottom: solid 3px var(--color-hover); 
}
.grid-conteiner{
    display: grid;
     /* grid-template-columns:repeat(5, 1fr) ;  */
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}

.grid-conteiner div:first-child{
    grid-column: 1/3;
}
.grid-conteiner div:nth-child(2){
    grid-column: 3/5;
}
.grid-conteiner div:nth-child(3){
    grid-column: 5/6;
}
.imagenPrueba img {
    filter: grayscale(100%);
    mask-image: linear-gradient( black 80%, transparent) ;
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
}
    .fondo-contacto2{
     background-color: var(--color-hover); 
    border-left: solid 2px rgb(255, 255, 255);
    border-right: solid 2px rgb(255, 255, 255); 
    padding: 0px 10px;
}  
   .iconosServicios li i{
    font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.3rem); 
     color: #2a2b30; 
   padding: 1em;
     border: solid 2px #2a2b30; 
   border-radius: 50%;
   margin: 10px;
   transition: 0.5s;
} 
.iconosServicios li i:hover{
    background-color: #2a2b30;
    transition: 0.5s;
    color: white;
    padding: 1em;
    border: solid 2px #2a2b30; 
    border-radius: 50%;
    margin: 10px;
}
::marker {
    color: rgba(255, 0, 0, 0);
 }
    .lineaServicios{
        margin: 3rem 0rem 3rem 0rem;
    color: #00000000;
}  
/* Diseño de le las redes del inicio */
  /* .iconosServicios li i{
    font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.3rem); 
     color: #ffffff;  
   padding: 1em;
   border: solid 2px #a7a7a7;  
   border-radius: 50%;
   margin: 10px;
   transition: 0.5s;
}
.iconosServicios li i:hover{
   background-color: #2a2b30;
   transition: 0.5s;
   color: var(--color-hover);  
   padding: 1em;
   border: solid 2px var(--color-hover);
   border-radius: 50%;
   margin: 10px;
}
.lineaServicios{
   height: 140px; 
  color: #00000000;
    margin: 0px 40px 0px 0px;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
   border-color: var(--color-hover);  
}    */
.iconosServicios{
    display: flex;
    justify-content: end;
    padding: 0px 20px 0px 0px; 
}
.iconosServicios ul{
display: inline-block; 
margin: 0;
padding: 0;
}
/* GRID 1 PRESENTACION */
/* PADDING GRID 1 */
.parrafoServicios{
    display: flex;
    align-items: center;
    padding: 4em 3em 0em 3em;
}
/* titulo introduccion*/
.titulo-introduccion-container{
    font-weight: 600;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
    display: flex;
}
.linea-introduccion{
     color: #aaaaaa00; 
    margin: 10px 0px 0px 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--color-hover);
}
.introdduccion-H1{
    color: var(--color-hover); 
    padding-left: 10px; 
    letter-spacing: 4px;
}
/* titulo diseño web y frontend */
.diseñoWeb-frontend{
    /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8)); */
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
    color:gray; 
    white-space: nowrap;
    font-size: clamp(1rem, 0.5rem + 2.5vw, 2rem);
}
/* titulo GONZALO ROBLEDO */
.tituloServicios h1{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
    color: #fbfbfb;
    font-size: clamp( 2rem, 0.3043rem + 8vw, 5rem);
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1.1em ;
}
/* Mejor diseño para su Web */
.Mejor-diseño-para-su-Web{
    font-weight: 600;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
    font-size: 1.1rem; /* ver con el clamp */
    color: var(--color-hover);
}
/* boton descargar CV y whatsap */
 .boton-descargarCV-y-whatsapp {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: solid 1px var(--color-hover);
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 1em;
    transition: 0.5s;
    text-shadow: 2px 2px 4px rgba(94, 94, 94, 0.26);
}
.boton-descargarCV-y-whatsapp:hover {
    background-color: var(--color-hover);
    box-shadow: 2px 2px 4px rgba(94, 94, 94, 0.26); 
    transition: 0.5s;
    color: #2a2b30; 
} 
/* TITULOS AÑOS Y PROYECTOSS */
.fondo-añosDeExperiencia-proyectos{
    
    display: flex;
    justify-content: center;
    gap: 20px;
}
.añosDeExperiencia-ing{

}
.info-container-añosYproyectos {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
   padding: 36px 20px 0px 0px;
}
.info-container-añosYproyectos h3{
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
   color: #333;
   font-size: 1em;
   display: flex;
   align-items: center;
   margin: 0px;
}
.info-container-añosYproyectos p {
   font-size: 2em;
   padding:0px 12px 0px 0px;
   color: var(--color-hover);
   margin-bottom: 0px; 
   font-weight: 600;
   display: flex;
   align-items: end;
   font-family: 'Montserrat', sans-serif;
}



/*************/
/* SERVICIOS */
/*************/
.servicios{
    background: linear-gradient(to bottom, rgb(44, 44, 44), #0e0e0e);
    /* background-color: rgb(44, 44, 44);  */
   /* background: linear-gradient(to bottom, #1a202c, #000000); */
}
.fondoServicios{
    background: linear-gradient(to bottom, rgb(44, 44, 44), #0e0e0e); 
   /* background: #121212; */
   /* background: #1e1e1e; */
   /* background: #2c2c2c; */
}
.imagen-servicios{
   display: flex;
   justify-content: center;
}
.imagen-servicios img{
   width: auto;
   filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8)) ;
   padding: 2rem 0rem;
   /* filter: drop-shadow(0 0 10px var(--color-hover)) ; */
}
.services {
   display: grid;
   /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr)); 
   gap: 2rem;
   /* max-width: 1200px; */
   margin: 0 auto;
   padding: 1em 7em ;
}
.services h2 {
   text-align: center;
   font-size: 2.5em;
   margin-bottom: 40px;
   color: #333;
}
.service {
   background: rgb(66, 66, 66); 
   border: solid 1px var(--color-hover);
   border-radius: 8px;
   padding: 20px;
   margin-bottom: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s, box-shadow 0.3s;
   cursor: pointer;
}
.service:hover {
   box-shadow: 0 8px 16px var(--color-hover);
   transition: transform 0.3s, box-shadow 0.3s;
}
.service i {
   font-size: 2.5em;
   color: var(--color-hover);
   padding: 15px 5px 30px 5px;
   filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8)) ;
}
.service h3 {
   white-space: nowrap;
   font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.37rem);
   margin-bottom: 10px;
   color: white;
   font-weight: 600;
}
.service p {
   font-size: 1em;
   line-height: 1.5;
   color: rgb(165, 165, 165);
}




/*****************/
/*** PROYECTOS ***/
/*****************/
#proyectos-diseno-ui {
    display: none;
}
.titulo-proyectos h1{
     margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 1px #ffffff ;
    opacity: 0.2;
}
.titulo-proyectos h2{
    color: rgb(255, 255, 255);
    margin: 0px;
    white-space: nowrap;
}
.titulo-proyectos i {
    display: flex;
    align-items: center;
    color: var(--color-hover);
    margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
    margin-left: 5px; /* Ajusta el margen izquierdo según tus preferencias */
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  .proyectosDescripcion {
    max-width: 480px;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: left;
}
.proyectosDescripcion h2 {
    text-align: left;
    padding: 16px 0px 16px 0px;
    font-size: 1.8em;
    font-weight: 600;
    color: white;
}
.proyectosDescripcion p {
    text-align: left;
    font-weight: 600;
    color: #777777;
}
#proyectos {
    padding: 0em 7em 3em 7em;
}
#proyectos .fila {
    display: flex;
    justify-content: space-between;
    margin: 5em 0em 10em 0em;
    border-radius: 25px;
    transition: 0.3s; 
}
#proyectos .fila .proyecto {
    max-width: 480px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 6px 6px 6px 4px var(--color-hover);  
}
.columnas-proyectosUi{
    display: flex;
}
 .espacioProyectosUi-columna1{
    padding: 0em 2em 5em 2em;
} 
.espacioProyectosUi-columna2{
    padding: 0em 2em 0em 2em;
} 
.boton-frontEnd-diseñoUi {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}
.boton-frontEnd-diseñoUi button {
    border: none;
    background-color: rgba(44, 44, 44, 0);
    cursor: pointer;
    outline: none; 
    color: white;
}
.boton-frontEnd-diseñoUi h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
/* color del boton activo de los titulos frontend y diseño-ui */
.resaltado {
    color: var(--color-hover);
    text-decoration: underline;
    text-decoration-color: var(--color-hover);
    text-decoration-thickness: 4px;
}
#proyectos .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#proyectos .fila .proyecto:hover img {
    filter: grayscale(0);
}
#proyectos .fila .proyecto .informacion-proyectos {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
}
#proyectos .fila .proyecto .informacion-proyectos p{
    color: var(--color-hover);
}
#proyectos .fila .proyecto:hover .informacion-proyectos {
    opacity: 1;
    bottom: 0;
}
.espacio-ver-repositorio .ver{
    margin-right: 100px;
    }
    .projects-section {
        color: var(--text-color);
        line-height: 1.6;
        padding: 80px 0;
    }
    .section-title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 60px;
        color: var(--accent-color);
        font-weight: 600;
    }
    .projects-grid {
        display: grid;
          grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));  
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
         /* grid-template-columns: repeat(2, 1fr);  */
        /* gap: 40px; */
        gap: 80px;
    }
    .project-card {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8)) ;
        display: flex;
        /* flex-direction: column; */
        /* justify-content: space-between;
        height: 100%; */
        background-color: #1e1e1e;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .project-image {
        flex: 1;
        position: relative;
        overflow: hidden;
    }
    .project-image img {
        filter: grayscale(1);
        /* width: 100%;
        height: 250px; */
        /* object-fit: cover;
        display: block; */
        transition: transform 0.3s ease;
    }
    .project-card:hover .project-image img {
        transform: scale(1.1);
        filter: grayscale(0);
    }
    .project-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        padding: 20px;
        text-align: center;
    }
    .project-card:hover .project-overlay {
        opacity: 1;
    }
    .project-overlay h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: var(--color-hover);
    }
    .project-overlay p {
        font-size: 0.9rem;
        color: white
    }
    .project-info {
        padding: 1em;
        flex: 1;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        flex-grow: 1;
    }
    .project-info h4 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: var(--color-hover);
    }
    .project-info p {
        font-size: 0.9rem;
        color: #b3b3b3;
        margin-bottom: 20px;
    }
    .project-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: auto;
    }
    .project-tags span {
        background-color: #2c2c2c;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 0.8rem;
    }
    .project-links {
         display: flex;
        /* justify-content: space-between; 
        margin-top: auto; */
        gap: 1rem;
    }
    .btn {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 600;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .btn i {
        margin-right: 8px;
    }
    .btn-primary {
        white-space: nowrap;
        font-size: clamp( 14px, 0.3043rem + 3.4783vw, 14px); 
        transition: 0.5s;
        border: solid 1px var(--color-hover);
        /* background-color: var(--color-hover); 
        color: black; */
        background-color: #3a3a3a;
    }
    .btn-secondary {
        white-space: nowrap;
        font-size: clamp( 14px, 0.3043rem + 3.4783vw, 14px); 
        transition: 0.5s;
        border: solid 1px var(--color-hover);
        /* background-color: var(--color-hover); 
        color: black; */
        background-color: #3a3a3a;
    }
    .btn-primary:hover {
        transition: 0.5s;
        border: solid 1px white;
        background-color: var(--color-hover);
        color: #3a3a3a;
    }
    
    .btn-secondary:hover {
        transition: 0.5s;
        border: solid 1px white;
        background-color: var(--color-hover);
        color: #3a3a3a;
    }
    
    @media (max-width: 768px) {
        .projects-grid {
            grid-template-columns: 1fr;
        }
        
        .project-links {
            flex-direction: column;
            gap: 10px;
        }
        
        .btn {
            width: 100%;
            justify-content: center;
        }
    }



/************************/
/*** SECCION SOBRE MI ***/
/************************/
.about-section {
    background-color: #1e1e1e;
    padding: 5em 7em 3em 7em;
}
.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
    color: white;
    font-weight: 600;
}
.about-content {
    display: flex;
    gap: 50px;
    margin-bottom: 5em;
    /* align-items: flex-start; */
}
.about-image {
    flex: 1;
    /* max-width: auto; */
}
.about-image img {
    filter: grayscale(1);
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.about-text {
    flex: 1.7;
}
.about-description {
    font-size: 14px;
    margin-bottom: 30px;
    color: white;
}
/* .about-interests,  */
.about-technologies {
    margin-bottom: 50px;
    color: white;
}
.about-technologies h3{
    font-size: 1.3rem;
    color: var(--color-hover);
    margin-bottom: 15px;
}
.about-skills h3{
    font-size: 1.3rem;
    color: var(--color-hover);
    margin-bottom: 15px;
}
.tech-tags {
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. Si la cobertura (wrap) está permitida, esta propiedad también te permite controlar la dirección en la cual serán apilados los elementos. */
    gap: 10px;
}
.tech-tags span {
    background-color: #2c2c2c;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: solid 1px white;
    transition: background-color 0.3s ease;
}



/***************/
/*** GALERIA ***/
/***************/
.titulo-dibujos{
    background-color: rgb(44, 44, 44);
}
.titulo-dibujos h1{
    margin: 0;
    border-top: solid 5px var(--color-hover);
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 1px #ffffff3f ;
}
.titulo-dibujos i {
    display: flex;
    align-items: center;
    color: var(--color-hover);
    margin-right: 5px; 
    margin-left: 5px; 
    font-size: 24px; 
  }
.titulo-dibujos h2{
    color: rgb(231, 231, 231);
    margin: 0px;
}
.parrafo-dibujo{
    font-size: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 4rem 1em 4rem; 

}



.Galeria-img {
    background-color: rgb(44, 44, 44); 
    display: grid;
    grid-gap: 20px;
    padding: 5rem 8rem 5rem 8rem;
    margin: 0 auto;
  }
  @media (min-width: 600px) {
    .Galeria-img {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 6em;
    }
  }
  @media (min-width: 800px) {
    .Galeria-img {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
    }
  }
  .Galeria-img .fila {
    display: flex;
    justify-content: space-between;
  }
  .Galeria-img .fila .imagenes {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 15px;
  }
  .Galeria-img .fila .imagenes:hover {
    box-shadow: 5px 5px 10px 5px var(--color-hover);
    transition: 0.3s;
  }
  .info {
    position: absolute;
    background: rgba(0, 0, 0, 0.603);
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 1; /* Cambiado a 1 por defecto */
    bottom: 0;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
}
.info h1 {
    padding: 1em;
    font-size: 1.2em;
    display: flex;
    justify-content: left;
    color: var(--color-hover); 
}
.info p {
     padding-top: 50%;
    font-size: 1em;
    text-align: center; /* Centra el texto */
    letter-spacing: 5px;
}
.Galeria .fila .imagenes .info {
    opacity: 1;
    bottom: 0;
    transition: .5s;
}
.Galeria .fila .imagenes:hover .info {
    opacity: 0;
    bottom: -1000px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
[class^="grid-hijo"] {
    border: 1px solid rgb(43, 43, 43);
}



/*************************/
/*** SECCION CONTACTO ***/
/***********************/
.fondo-contacto{
    border-top: 5px solid var(--color-hover); 
     background-color: rgb(66, 66, 66); 
}
.fondo-contacto h3{
    color: white;
}
.texto-portafolio-contacto {
    padding-top: 2em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.speace-around-entre-objetos-contacto {
    display: flex;
    padding: 0px;
    justify-content: center; 
}
.z .y {
    list-style: none;
}
.z .y .r {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.z .y .r .iconn {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
.z .y .r:hover .iconn {
    color: #fff;
    transform: rotateY(360deg);
}
.z .y .r:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.z .y .r:hover:before {
    top: 0;
}
.z .y:nth-child(1) .r:before {
    background: #000000;
}
.z .y:nth-child(2) .r:before {
    background: #0077b5;
}
.z .y:nth-child(3) .r:before {
    background: #25d366;
}
.z .y:nth-child(4) .r:before {
    background: #f00;
}



/**********************/
/*** SECCION FOOTER ***/
/**********************/
.fondo-footer {
    background-color: rgb(43, 43, 43);
}
.tamaño-parrafo-footer {
    font-size: 20px;
}



/***************************/
/**** SECCION RESPONSIVE ***/
/***************************/
/* ESTILOS NAVBAR */
@media screen and (min-width: 320px) and (max-width: 991px){
    /*** Navbar ***/
.posicion-nav .marginLeft-del-navBar{
margin-left: 0px;
}
.navbar-bg {
    background-color: rgb(44, 44, 44);
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.3);
 }
 .modo-oscuro .navbar-bg{
   background-color:rgb(0, 0, 0);
}
   ul li .sobre-mi {
      color: white;
       padding-bottom: 5px;
       padding: 10px 10px;
       margin: 10px 0px;
   }
/*** LOGOS DEL NAVBAR ***/
   .logo-navBar-colores{
       color: rgb(0, 0, 0);
       flex-direction: row;
       justify-content:left; 
   }
   .logo-navBar-colores i{
       color: rgb(255, 255, 255);
       padding: 0px 20px;
   }
  .logos-colores i{
   padding: 0px 10px;
  }
   .fondo-elige-un-color{
       background-color: rgb(0, 0, 0, 0.877);
       border: solid 2px rgb(117, 117, 117);
      margin-left: -95px;
       margin-bottom: 15px;
   }
   .elige-un-color{
       color: white;
   } 
  .fondo-nav {
   background-color: rgb(0, 0, 0, 0.877);
}
/*** LOGO GR/ ***/
.parrafo-logo{
   padding-left: 0em;
}
    .parrafo-logo h3{
        color: rgb(255, 255, 255);
       }
    .hamburger {
        padding: 15px;
        margin-right: 0em;
       }
} 






/* RESPONSIVE, INFORMACION DE LOS PROYECTOS */
   @media screen and (min-width:320px) and (max-width: 400px){
/*****************/
/*** PROYECTOS ***/
/*****************/
#portfolio .fila .proyecto p{
  font-size: 10px;
}
#portfolio .fila .proyecto h4{
   font-size:10px;
}
#portfolio .fila .proyecto h6 {
   font-size: 10px; 
}
.espacio-ver-repositorio i{
   font-size: 10px;
   }
}


@media screen and (min-width: 1251px) and (max-width: 1700px){

}
 @media screen and (min-width: 992px) and (max-width: 1250px){
/**************/
/*** Navbar ***/
/**************/
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
    .dropdown-menu.fondo-elige-un-color {
        position: absolute;
        left: -350%;
        transform: translateX(0%);
    }
    .dropdown-menu.fondo-elige-un-color > div.logos-colores {
        /* width: auto;  */
        margin: 0 auto;
    }
    .logos-colores li {
        flex: 1 1 0%;
        text-align: center;
        font-size: 1em;
    }

/*PROYECTOS
/*****************/
/*** PROYECTOS ***/
/*****************/
/* .titulo-proyectos h1{
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    font-size: 50px;
    letter-spacing: 10px;
}

.boton-frontEnd-diseñoUi h1 {
    font-size: 1.7em;
}
.proyectosDescripcion {
    max-width: 100%;
   padding: 0px 30px;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: center;
    padding-top: 50px;
    font-size: 2.3em;
}

} */






#proyectos {
    background-color: rgb(44, 44, 44);
    padding: 0em 3em 3em 3em;
}

.proyectosDescripcion h2 {
    /* text-align: center; */
    font-size: 1.5em;
}
.proyectosDescripcion p {
    /* text-align: center; */
    font-size: 1em;
    /* padding-right: 2em; */
}

#proyectos .fila {
 display: flex;
    justify-content: space-evenly;
    margin: 5em 0em 10em;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

 .proyectosDescripcion {
    max-width: 400px;
} 

#proyectos .fila .proyecto {
   
    /* box-shadow: 6px 6px 6px 1px rgba(255, 199, 88, 0.596); */
    box-shadow: 6px 6px 6px 4px var(--color-hover); 
    border-radius: 15px;
    max-width: 400px;
    /* margin: 12px 30px; */
    margin: 0px 20px;
    position: relative;
    overflow: hidden;
    /* order: 1; */
}


/* .columnas-proyectosUi{
    display: block;
}
 .espacioProyectosUi-columna1{
    padding: 0em 1em 2em 1em;
} 
.espacioProyectosUi-columna2{
    padding: 0em 1em 2em 1em;
} 
#proyectos .fila .proyecto p{
    font-size: 1em;
}
#proyectos .fila .proyecto h4{
    font-size: 1em;
 }
#proyectos .fila .proyecto h6 {
    font-size: 1em;
}
#proyectos .fila .proyecto .info {
    padding: 10px;
}
#proyectos .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    } */
/***************/
/*** DIBUJOS ***/
/***************/
.Galeria-img {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-gap: 20px;
    padding: 3rem 3rem 5rem 3rem;
    margin: 0 auto;
}


    
}






@media screen and (min-width: 931px) and (max-width: 992px){
/**************/
/*** Navbar ***/
/**************/
ul li .text-navbar {
    color: white;
padding-bottom: 5px;
padding: 10px 10px;
margin: 10px 0px;
}
    .dropdown-menu.fondo-elige-un-color {
        position: absolute;
        left: 0%;
        transform: translateX(0%);
    }
    .dropdown-menu.fondo-elige-un-color > div.logos-colores {
        width: auto;
        margin: 0 auto;
    }
    /* Header */
.grid-conteiner {
    display: block;
} 
.tituloServicios{
    padding: 0px 5px;
}
/* GRID 1 PRESENTACION */
.parrafoServicios{
display: flex;
/* align-items: none; */
padding: 5em 0em 0em 0em;
}
.titulo-introduccion-container{
    justify-content: center;
 } 

/* titulo introduccion*/
.introdduccion-H1{
font-size: 10px;
color: var(--color-hover); 
padding-left: 10px; 
letter-spacing: 4px;
}

.about-technologies h3{
    display: flex;
    justify-content: center;
}
.about-skills h3{
    display: flex;
    justify-content: center;
}

/* titulo diseño web y frontend */
.diseñoWeb-frontend{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.tituloServicios h1{
    display: flex;
    text-align: center;
}
.Mejor-diseño-para-su-Web{
    display: flex;
    justify-content: center;
}
/* boton descargar CV y whatsap */
.fondo-botones-cv-y-whatsapp{
display: flex;
justify-content: center;
}
.boton-descargarCV-y-whatsapp {
font-size: 12px;
white-space: nowrap;
}
/* TITULOS AÑOS Y PROYECTOSS */
.info-container-añosYproyectos {
   padding: 36px 0px 0px 0px;
   display: flex;
   justify-content: center;
}
/* grid 2 */
/* seguir probando */
.fondoGrid{
    /* background-position: center center;
    background-size: cover; 
     background-size: contain;    */

    background-position:  left ;
    background-size:  150%;
    background-repeat: no-repeat; 
    background-color: rgb(44, 44, 44); 
}
/* GRID 3 CONTACTO */
.fondo-contacto2{ 
    border-left: none;
    border-right: none; 
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255); 
    padding: 0rem;  
    margin-bottom: 10px ;
}  
.iconosServicios li i{
font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.3rem); 
padding: 10px;
} 
.iconosServicios li i:hover{
padding: 10px;
margin: 10px;
}
.lineaServicios{
margin: 0rem;
color: #00000000;
}  
.iconosServicios {
    display: block;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.iconosServicios ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
}
/* servicios */
.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 0 auto;
    padding: 1em 2em ;
}
.imagen-servicios img{
    padding: 2em 2em ;
    width: 100%;
    
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}

.boton-frontEnd-diseñoUi h1 {
    font-size: 1.5em;
}
.proyectosDescripcion{
    max-width: auto;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: center;
    padding-top: 50px;
}
.proyectosDescripcion h2 {
    text-align: center;
    font-size: 1.5em;
}
.proyectosDescripcion p {
    text-align: center;
}
/* #proyectos .fila {
    flex-direction: column;
    margin: 10px 0;
}
#proyectos .fila .proyecto {
    
    box-shadow: 6px 6px 6px 4px var(--color-hover); 
    border-radius: 15px;
    max-width: 450px;
    
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
    order: 1;
} */
.columnas-proyectosUi{
    display: block;
}
 .espacioProyectosUi-columna1{
    padding: 0em 1em 2em 1em;
} 
.espacioProyectosUi-columna2{
    padding: 0em 1em 2em 1em;
} 
#proyectos .fila .proyecto p{
   font-size: 10px;
}
#proyectos .fila .proyecto h4{
    font-size: 10px;
 }
#proyectos .fila .proyecto h6 {
    font-size: 10px; 
}
#proyectos .fila .proyecto .info {
    padding: 10px;
}
#proyectos .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }



/* proyectos */
#proyectos {
padding: 0em 1em 3em 1em;
}
.project-card {
 display: flex; 
flex-direction: column; 
}
/* perfil */
.about-section {
padding: 0em 1em 3em 1em;
}
.about-content {
display: inline-block;
margin-bottom: 3em;
}
.tech-tags {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.titulo-proyectos h1 {
    font-size: 25px; 
}
/* dibujos */
/***************/
/*** DIBUJOS ***/
/***************/
.Galeria-img {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-gap: 20px;
    padding: 3rem 2rem 5rem 2rem;
    margin: 0 auto;
    }
    .parrafo-dibujo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 2rem 1em 2rem;
    }
    .info .bob-esponja {
    padding-top: 50%;
    }
    .info .super-campeones {
    padding-top: 30%;
    }
    .info .tomYjerryAncianos {
    padding-top: 30%;
    }
    .info .tomYjerry {
    padding-top: 50%;
    }
    .info .hellsing {
    padding-top: 50%;
    }
    .info .krilin {
    padding-top: 20%;
    }
    .info .random {
    padding-top: 20%;
    }
    .info .jovenes-titanes {
    padding-top: 50%;
    }
    .info .jakeLong {
    padding-top: 0%;
    }
    .info .silvestreYpiolin {
    padding-top: 10%;
    }
    .info .stitch {
    padding-top: 50%;
    }
    /*****************/
    /*** CONTACTO ***/
    /***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .speace-around-entre-objetos-contacto .y {
        padding: 10px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
    /**********************/
    /*** SECCION FOOTER ***/
    /**********************/
    .tamaño-parrafo-footer {
    text-align: center;
    font-size: 1rem;
    padding: 0px 5px;
    }
}




@media screen and (min-width: 769px) and (max-width: 930px){
/**************/
/*** Navbar ***/
/**************/
ul li .text-navbar {
    color: white;
padding-bottom: 5px;
padding: 10px 10px;
margin: 10px 0px;
}
    .dropdown-menu.fondo-elige-un-color {
        position: absolute;
        left: 0%;
        transform: translateX(0%);
    }
    .dropdown-menu.fondo-elige-un-color > div.logos-colores {
        width: auto;
        margin: 0 auto;
    }
    /* Header */
.grid-conteiner {
    display: block;
} 
.tituloServicios{
    padding: 0px 5px;
}
/* GRID 1 PRESENTACION */
.parrafoServicios{
display: flex;
/* align-items: none; */
padding: 5em 0em 0em 0em;
}
.titulo-introduccion-container{
    justify-content: center;
 } 

/* titulo introduccion*/
.introdduccion-H1{
font-size: 10px;
color: var(--color-hover); 
padding-left: 10px; 
letter-spacing: 4px;
}

.about-technologies h3{
    display: flex;
    justify-content: center;
}
.about-skills h3{
    display: flex;
    justify-content: center;
}

/* titulo diseño web y frontend */
.diseñoWeb-frontend{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.tituloServicios h1{
    display: flex;
    text-align: center;
}
.Mejor-diseño-para-su-Web{
    display: flex;
    justify-content: center;
}
/* boton descargar CV y whatsap */
.fondo-botones-cv-y-whatsapp{
display: flex;
justify-content: center;
}
.boton-descargarCV-y-whatsapp {
font-size: 12px;
white-space: nowrap;
}
/* TITULOS AÑOS Y PROYECTOSS */
.info-container-añosYproyectos {
   padding: 36px 0px 0px 0px;
   display: flex;
   justify-content: center;
}
/* grid 2 */
/* seguir probando */
.fondoGrid{
    /* background-position: center center;
    background-size: cover; 
     background-size: contain;    */

    background-position:  left ;
    background-size:  150%;
    background-repeat: no-repeat; 
    background-color: rgb(44, 44, 44); 
}
/* GRID 3 CONTACTO */
.fondo-contacto2{ 
    border-left: none;
    border-right: none; 
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255); 
    padding: 0rem;  
    margin-bottom: 10px ;
}  
.iconosServicios li i{
font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.3rem); 
padding: 10px;
} 
.iconosServicios li i:hover{
padding: 10px;
margin: 10px;
}
.lineaServicios{
margin: 0rem;
color: #00000000;
}  
.iconosServicios {
    display: block;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.iconosServicios ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
}
/* servicios */
.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 0 auto;
    padding: 1em 2em ;
}
.imagen-servicios img{
    padding: 2em 2em ;
    width: 100%;
    
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}

.boton-frontEnd-diseñoUi h1 {
    font-size: 1.5em;
}
.proyectosDescripcion{
    max-width: auto;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: center;
    padding-top: 50px;
}
.proyectosDescripcion h2 {
    text-align: center;
    font-size: 1.5em;
}
.proyectosDescripcion p {
    text-align: center;
}
/* #proyectos .fila {
    flex-direction: column;
    margin: 10px 0;
}
#proyectos .fila .proyecto {
    
    box-shadow: 6px 6px 6px 4px var(--color-hover); 
    border-radius: 15px;
    max-width: 450px;
    
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
    order: 1;
} */
.columnas-proyectosUi{
    display: block;
}
 .espacioProyectosUi-columna1{
    padding: 0em 1em 2em 1em;
} 
.espacioProyectosUi-columna2{
    padding: 0em 1em 2em 1em;
} 
#proyectos .fila .proyecto p{
   font-size: 10px;
}
#proyectos .fila .proyecto h4{
    font-size: 10px;
 }
#proyectos .fila .proyecto h6 {
    font-size: 10px; 
}
#proyectos .fila .proyecto .info {
    padding: 10px;
}
#proyectos .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }



/* proyectos */
#proyectos {
padding: 0em 1em 3em 1em;
}
.project-card {
 display: flex; 
flex-direction: column; 
}
/* perfil */
.about-section {
padding: 0em 1em 3em 1em;
}
.about-content {
display: inline-block;
margin-bottom: 3em;
}
.tech-tags {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.titulo-proyectos h1 {
    font-size: 25px; 
}
/* dibujos */
/***************/
/*** DIBUJOS ***/
/***************/
.Galeria-img {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-gap: 20px;
    padding: 3rem 2rem 5rem 2rem;
    margin: 0 auto;
    }
    .parrafo-dibujo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 2rem 1em 2rem;
    }
    .info .bob-esponja {
    padding-top: 50%;
    }
    .info .super-campeones {
    padding-top: 30%;
    }
    .info .tomYjerryAncianos {
    padding-top: 30%;
    }
    .info .tomYjerry {
    padding-top: 50%;
    }
    .info .hellsing {
    padding-top: 50%;
    }
    .info .krilin {
    padding-top: 20%;
    }
    .info .random {
    padding-top: 20%;
    }
    .info .jovenes-titanes {
    padding-top: 50%;
    }
    .info .jakeLong {
    padding-top: 0%;
    }
    .info .silvestreYpiolin {
    padding-top: 10%;
    }
    .info .stitch {
    padding-top: 50%;
    }
    /*****************/
    /*** CONTACTO ***/
    /***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .speace-around-entre-objetos-contacto .y {
        padding: 10px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
    /**********************/
    /*** SECCION FOOTER ***/
    /**********************/
    .tamaño-parrafo-footer {
    text-align: center;
    font-size: 1rem;
    padding: 0px 5px;
    }
}



@media screen and (min-width: 577px) and (max-width: 768px){
/**************/
/*** Navbar ***/
/**************/
ul li .text-navbar {
    color: white;
padding-bottom: 5px;
padding: 10px 10px;
margin: 10px 0px;
}
    .dropdown-menu.fondo-elige-un-color {
        position: absolute;
        left: 0%;
        transform: translateX(0%);
    }
    .dropdown-menu.fondo-elige-un-color > div.logos-colores {
        width: auto;
        margin: 0 auto;
    }
    /* Header */
.grid-conteiner {
    display: block;
} 
.tituloServicios{
    padding: 0px 5px;
}
/* GRID 1 PRESENTACION */
.parrafoServicios{
display: flex;
/* align-items: none; */
padding: 5em 0em 0em 0em;
}
.titulo-introduccion-container{
    justify-content: center;
 } 

/* titulo introduccion*/
.introdduccion-H1{
font-size: 10px;
color: var(--color-hover); 
padding-left: 10px; 
letter-spacing: 4px;
}

.about-technologies h3{
    display: flex;
    justify-content: center;
}
.about-skills h3{
    display: flex;
    justify-content: center;
}

/* titulo diseño web y frontend */
.diseñoWeb-frontend{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.tituloServicios h1{
    display: flex;
    text-align: center;
}
.Mejor-diseño-para-su-Web{
    display: flex;
    justify-content: center;
}
/* boton descargar CV y whatsap */
.fondo-botones-cv-y-whatsapp{
display: flex;
justify-content: center;
}
.boton-descargarCV-y-whatsapp {
font-size: 12px;
white-space: nowrap;
}
/* TITULOS AÑOS Y PROYECTOSS */
.info-container-añosYproyectos {
   padding: 36px 0px 0px 0px;
   display: flex;
   justify-content: center;
}
/* grid 2 */
/* seguir probando */
.fondoGrid{
    /* background-position: center center;
    background-size: cover; 
     background-size: contain;    */

    background-position:  left ;
    background-size:  150%;
    background-repeat: no-repeat; 
    background-color: rgb(44, 44, 44); 
}
/* GRID 3 CONTACTO */
.fondo-contacto2{ 
    border-left: none;
    border-right: none; 
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255); 
    padding: 0rem;  
    margin-bottom: 10px ;
}  
.iconosServicios li i{
font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.3rem); 
padding: 10px;
} 
.iconosServicios li i:hover{
padding: 10px;
margin: 10px;
}
.lineaServicios{
margin: 0rem;
color: #00000000;
}  
.iconosServicios {
    display: block;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.iconosServicios ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
}
/* servicios */
.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 0 auto;
    padding: 1em 2em ;
}
.imagen-servicios img{
    padding: 2em 2em ;
    width: 100%;
    
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}

.boton-frontEnd-diseñoUi h1 {
    font-size: 1.5em;
}
.proyectosDescripcion{
    max-width: auto;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: center;
    padding-top: 50px;
}
.proyectosDescripcion h2 {
    text-align: center;
    font-size: 1.5em;
}
.proyectosDescripcion p {
    text-align: center;
}
/* #proyectos .fila {
    flex-direction: column;
    margin: 10px 0;
}
#proyectos .fila .proyecto {
    
    box-shadow: 6px 6px 6px 4px var(--color-hover); 
    border-radius: 15px;
    max-width: 450px;
    
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
    order: 1;
} */
.columnas-proyectosUi{
    display: block;
}
 .espacioProyectosUi-columna1{
    padding: 0em 1em 2em 1em;
} 
.espacioProyectosUi-columna2{
    padding: 0em 1em 2em 1em;
} 
#proyectos .fila .proyecto p{
   font-size: 10px;
}
#proyectos .fila .proyecto h4{
    font-size: 10px;
 }
#proyectos .fila .proyecto h6 {
    font-size: 10px; 
}
#proyectos .fila .proyecto .info {
    padding: 10px;
}
#proyectos .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }



/* proyectos */
#proyectos {
padding: 0em 1em 3em 1em;
}
.project-card {
 display: flex; 
flex-direction: column; 
}
/* perfil */
.about-section {
padding: 0em 1em 3em 1em;
}
.about-content {
display: inline-block;
margin-bottom: 3em;
}
.tech-tags {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.titulo-proyectos h1 {
    font-size: 25px; 
}
/* dibujos */
/***************/
/*** DIBUJOS ***/
/***************/
.Galeria-img {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-gap: 20px;
    padding: 3rem 2rem 5rem 2rem;
    margin: 0 auto;
    }
    .parrafo-dibujo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 2rem 1em 2rem;
    }
    .info .bob-esponja {
    padding-top: 50%;
    }
    .info .super-campeones {
    padding-top: 30%;
    }
    .info .tomYjerryAncianos {
    padding-top: 30%;
    }
    .info .tomYjerry {
    padding-top: 50%;
    }
    .info .hellsing {
    padding-top: 50%;
    }
    .info .krilin {
    padding-top: 20%;
    }
    .info .random {
    padding-top: 20%;
    }
    .info .jovenes-titanes {
    padding-top: 50%;
    }
    .info .jakeLong {
    padding-top: 0%;
    }
    .info .silvestreYpiolin {
    padding-top: 10%;
    }
    .info .stitch {
    padding-top: 50%;
    }
    /*****************/
    /*** CONTACTO ***/
    /***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .speace-around-entre-objetos-contacto .y {
        padding: 10px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
    /**********************/
    /*** SECCION FOOTER ***/
    /**********************/
    .tamaño-parrafo-footer {
    text-align: center;
    font-size: 1rem;
    padding: 0px 5px;
    }
}


@media screen and (min-width:481px) and (max-width: 576px) {
  /**************/
/*** Navbar ***/
/**************/
ul li .text-navbar {
    color: white;
padding-bottom: 5px;
padding: 10px 10px;
margin: 10px 0px;
}
    .dropdown-menu.fondo-elige-un-color {
        position: absolute;
        left: 0%;
        transform: translateX(0%);
    }
    .dropdown-menu.fondo-elige-un-color > div.logos-colores {
        width: auto;
        margin: 0 auto;
    }
    /* Header */
.grid-conteiner {
    display: block;
} 
.tituloServicios{
    padding: 0px 5px;
}
/* GRID 1 PRESENTACION */
.parrafoServicios{
display: flex;
/* align-items: none; */
padding: 5em 0em 0em 0em;
}
.titulo-introduccion-container{
    justify-content: center;
 } 

/* titulo introduccion*/
.introdduccion-H1{
font-size: 10px;
color: var(--color-hover); 
padding-left: 10px; 
letter-spacing: 4px;
}

.about-technologies h3{
    display: flex;
    justify-content: center;
}
.about-skills h3{
    display: flex;
    justify-content: center;
}

/* titulo diseño web y frontend */
.diseñoWeb-frontend{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.tituloServicios h1{
    display: flex;
    text-align: center;
}
.Mejor-diseño-para-su-Web{
    display: flex;
    justify-content: center;
}
/* boton descargar CV y whatsap */
.fondo-botones-cv-y-whatsapp{
display: flex;
justify-content: center;
}
.boton-descargarCV-y-whatsapp {
font-size: 12px;
white-space: nowrap;
}
/* TITULOS AÑOS Y PROYECTOSS */
.info-container-añosYproyectos {
   padding: 36px 0px 0px 0px;
   display: flex;
   justify-content: center;
}
/* grid 2 */
/* seguir probando */
.fondoGrid{
    /* background-position: center center;
    background-size: cover; 
     background-size: contain;    */

    background-position:  left ;
    background-size:  150%;
    background-repeat: no-repeat; 
    background-color: rgb(44, 44, 44); 
}
/* GRID 3 CONTACTO */
.fondo-contacto2{ 
    border-left: none;
    border-right: none; 
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255); 
    padding: 0rem;  
    margin-bottom: 10px ;
}  
.iconosServicios li i{
font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.3rem); 
padding: 10px;
} 
.iconosServicios li i:hover{
padding: 10px;
margin: 10px;
}
.lineaServicios{
margin: 0rem;
color: #00000000;
}  
.iconosServicios {
    display: block;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.iconosServicios ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
}
/* servicios */
.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 0 auto;
    padding: 1em 2em ;
}
.imagen-servicios img{
    padding: 2em 2em ;
    width: 100%;
    
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}

.boton-frontEnd-diseñoUi h1 {
    font-size: 1.5em;
}
.proyectosDescripcion{
    max-width: auto;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: center;
    padding-top: 50px;
}
.proyectosDescripcion h2 {
    text-align: center;
    font-size: 1.5em;
}
.proyectosDescripcion p {
    text-align: center;
}
/* #proyectos .fila {
    flex-direction: column;
    margin: 10px 0;
}
#proyectos .fila .proyecto {
    
    box-shadow: 6px 6px 6px 4px var(--color-hover); 
    border-radius: 15px;
    max-width: 450px;
    
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
    order: 1;
} */
.columnas-proyectosUi{
    display: block;
}
 .espacioProyectosUi-columna1{
    padding: 0em 1em 2em 1em;
} 
.espacioProyectosUi-columna2{
    padding: 0em 1em 2em 1em;
} 
#proyectos .fila .proyecto p{
   font-size: 10px;
}
#proyectos .fila .proyecto h4{
    font-size: 10px;
 }
#proyectos .fila .proyecto h6 {
    font-size: 10px; 
}
#proyectos .fila .proyecto .info {
    padding: 10px;
}
#proyectos .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }



/* proyectos */
#proyectos {
padding: 0em 1em 3em 1em;
}
.project-card {
 display: flex; 
flex-direction: column; 
}
/* perfil */
.about-section {
padding: 0em 1em 3em 1em;
}
.about-content {
display: inline-block;
margin-bottom: 3em;
}
.tech-tags {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.titulo-proyectos h1 {
    font-size: 25px; 
}
/* dibujos */
/***************/
/*** DIBUJOS ***/
/***************/
.Galeria-img {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-gap: 20px;
    padding: 3rem 2rem 5rem 2rem;
    margin: 0 auto;
    }
    .parrafo-dibujo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 2rem 1em 2rem;
    }
    .info .bob-esponja {
    padding-top: 50%;
    }
    .info .super-campeones {
    padding-top: 30%;
    }
    .info .tomYjerryAncianos {
    padding-top: 30%;
    }
    .info .tomYjerry {
    padding-top: 50%;
    }
    .info .hellsing {
    padding-top: 50%;
    }
    .info .krilin {
    padding-top: 20%;
    }
    .info .random {
    padding-top: 20%;
    }
    .info .jovenes-titanes {
    padding-top: 50%;
    }
    .info .jakeLong {
    padding-top: 0%;
    }
    .info .silvestreYpiolin {
    padding-top: 10%;
    }
    .info .stitch {
    padding-top: 50%;
    }
    /*****************/
    /*** CONTACTO ***/
    /***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .speace-around-entre-objetos-contacto .y {
        padding: 10px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
    /**********************/
    /*** SECCION FOOTER ***/
    /**********************/
    .tamaño-parrafo-footer {
    text-align: center;
    font-size: 1rem;
    padding: 0px 5px;
    }
}






 @media screen and (min-width:320px) and (max-width: 480px) {
/**************/
/*** Navbar ***/
/**************/
ul li .text-navbar {
    color: white;
padding-bottom: 5px;
padding: 10px 10px;
margin: 10px 0px;
}
    .dropdown-menu.fondo-elige-un-color {
        position: absolute;
        left: 0%;
        transform: translateX(0%);
    }
    .dropdown-menu.fondo-elige-un-color > div.logos-colores {
        width: auto;
        margin: 0 auto;
    }
    /* Header */
.grid-conteiner {
    display: block;
} 
.tituloServicios{
    padding: 0px 5px;
}
/* GRID 1 PRESENTACION */
.parrafoServicios{
display: flex;
/* align-items: none; */
padding: 5em 0em 0em 0em;
}
.titulo-introduccion-container{
    justify-content: center;
 } 

/* titulo introduccion*/
.introdduccion-H1{
font-size: 10px;
color: var(--color-hover); 
padding-left: 10px; 
letter-spacing: 4px;
}

.about-technologies h3{
    display: flex;
    justify-content: center;
}
.about-skills h3{
    display: flex;
    justify-content: center;
}

/* titulo diseño web y frontend */
.diseñoWeb-frontend{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.tituloServicios h1{
    display: flex;
    text-align: center;
}
.Mejor-diseño-para-su-Web{
    display: flex;
    justify-content: center;
}
/* boton descargar CV y whatsap */
.fondo-botones-cv-y-whatsapp{
display: flex;
justify-content: center;
}
.boton-descargarCV-y-whatsapp {
font-size: 12px;
white-space: nowrap;
}
/* TITULOS AÑOS Y PROYECTOSS */
.fondo-añosDeExperiencia-proyectos{
    gap: 10px;
}
.info-container-añosYproyectos {
   padding: 36px 0px 0px 0px;
   display: flex;
   justify-content: center;
}
/* grid 2 */
/* seguir probando */
.fondoGrid{
    /* background-position: center center;
    background-size: cover; 
     background-size: contain;    */

    background-position:  left ;
    background-size:  150%;
    background-repeat: no-repeat; 
    background-color: rgb(44, 44, 44); 
}
/* GRID 3 CONTACTO */
.fondo-contacto2{ 
    border-left: none;
    border-right: none; 
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255); 
    padding: 0rem;  
    margin-bottom: 10px ;
}  
.iconosServicios li i{
font-size: clamp( 1rem, 0.3043rem + 3.4783vw, 1.3rem); 
padding: 10px;
} 
.iconosServicios li i:hover{
padding: 10px;
margin: 10px;
}
.lineaServicios{
margin: 0rem;
color: #00000000;
}  
.iconosServicios {
    display: block;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.iconosServicios ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
}
/* servicios */
.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 0 auto;
    padding: 1em 2em ;
}
.imagen-servicios img{
    padding: 2em 2em ;
    width: 100%;
    
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}

.boton-frontEnd-diseñoUi h1 {
    font-size: 1.5em;
}
.proyectosDescripcion{
    max-width: auto;
}
.proyectosDescripcion h1 {
    color: var(--color-hover);
    text-align: center;
    padding-top: 50px;
}
.proyectosDescripcion h2 {
    text-align: center;
    font-size: 1.5em;
}
.proyectosDescripcion p {
    text-align: center;
}
/* #proyectos .fila {
    flex-direction: column;
    margin: 10px 0;
}
#proyectos .fila .proyecto {
    
    box-shadow: 6px 6px 6px 4px var(--color-hover); 
    border-radius: 15px;
    max-width: 450px;
    
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
    order: 1;
} */
.columnas-proyectosUi{
    display: block;
}
 .espacioProyectosUi-columna1{
    padding: 0em 1em 2em 1em;
} 
.espacioProyectosUi-columna2{
    padding: 0em 1em 2em 1em;
} 
#proyectos .fila .proyecto p{
   font-size: 10px;
}
#proyectos .fila .proyecto h4{
    font-size: 10px;
 }
#proyectos .fila .proyecto h6 {
    font-size: 10px; 
}
#proyectos .fila .proyecto .info {
    padding: 10px;
}
#proyectos .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }



/* proyectos */
#proyectos {
padding: 0em 1em 3em 1em;
}
.project-card {
 display: flex; 
flex-direction: column; 
}
/* perfil */
.about-section {
padding: 0em 1em 3em 1em;
}
.about-content {
display: inline-block;
margin-bottom: 3em;
}
.tech-tags {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.titulo-proyectos h1 {
    font-size: 25px; 
}
/* dibujos */
/***************/
/*** DIBUJOS ***/
/***************/
.Galeria-img {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-gap: 20px;
    padding: 3rem 2rem 5rem 2rem;
    margin: 0 auto;
    }
    .parrafo-dibujo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3rem 2rem 1em 2rem;
    }
    .info .bob-esponja {
    padding-top: 50%;
    }
    .info .super-campeones {
    padding-top: 30%;
    }
    .info .tomYjerryAncianos {
    padding-top: 30%;
    }
    .info .tomYjerry {
    padding-top: 50%;
    }
    .info .hellsing {
    padding-top: 50%;
    }
    .info .krilin {
    padding-top: 20%;
    }
    .info .random {
    padding-top: 20%;
    }
    .info .jovenes-titanes {
    padding-top: 50%;
    }
    .info .jakeLong {
    padding-top: 0%;
    }
    .info .silvestreYpiolin {
    padding-top: 10%;
    }
    .info .stitch {
    padding-top: 50%;
    }
    /*****************/
    /*** CONTACTO ***/
    /***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .speace-around-entre-objetos-contacto .y {
        padding: 10px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
    /**********************/
    /*** SECCION FOOTER ***/
    /**********************/
    .tamaño-parrafo-footer {
    text-align: center;
    font-size: 1rem;
    padding: 0px 5px;
    }
}