@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');
@import url(https://fonts.googleapis.com/css?family=Khula:700);



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
/* MENU HAMBURGESA */
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}
.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before, .hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color:rgb(255, 199, 88);
  top: 50%;
  transform: translate(51px, -50%);
}
.hamburger__hidden::before, .hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: rgb(255, 199, 88);
  content: "";
  transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}




  /* BARRA DE NAVEGCION */
.fondo-del-nav{
    /* background-color:#32BECF; */
    background-color:#000000ea;
}

.posicion-nav{
  justify-content: end;
}

.fondo-nav{
    margin-bottom: -45px;
}

.nav-item a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;
}
.nav-item a:hover   {
    color: rgb(255, 255, 255);
}
.navbar-brand   {
    height: 50px;
    width: 150px;
}

  ul {
    display: flex;
  }
  ul li {
    list-style: none;
  }
  ul li .sobre-mi {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
  }
  ul li .sobre-mi:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  ul li .sobre-mi:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 199, 88); 
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
  ul li .sobre-mi:hover {
    color: #fff;
  }
  ul li .sobre-mi:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }
  ul li .sobre-mi:hover:after {
    transform: scaleY(1);
    opacity: 1;
  }


/* GR y animacion de foto */
.imagen{
  width: 40%;
  border: solid 3px;
  border-color: rgb(255, 255, 255);  
  border-radius: 50%;
  margin-left: 100px;
}
.imagen:hover{
  border: solid 3px;
  border-color:rgb(255, 199, 88);  
  border-radius: 50%;
  margin-left: 100px;
  transition: all 0.6s;
  transform: scale(1.1)
}

.imagen-barra-navegacion{
  list-style: none;
  justify-content: left;
}

.parrafo-logo{
  color: rgb(255, 199, 88);
  /* color:  rgb(244, 126, 62); */
  font-size: 25px;
}
.parrafo-logo:hover{
  color:white ;
  transition: 0.4s;
  transform: scale(1.3)
}

.gr{
  font-size: 25px;
}
.gr:hover{
  color:rgb(255, 199, 88) ;
  /* color:rgb(244, 126, 62) ; */
  transition: 0.4s;
  transform: scale(1.2)
}



/* FONDO DE IMAGEN PERSONAL Y ANIMACION TITULO */
.fondo-representacion{
  background-image: url(./fondo\ -\ copia\ \(4\).jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* numeros animacion */
.console-container {
  font-family:Khula;
  font-size:40px;
  text-align:left;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


/* SOBRE MI */
.fondo-sobre-mi{
  background-color: rgb(255, 255, 255);
}

.boton-contactar{
  background-color: rgb(120, 120, 120);
  border: solid 7px rgb(120, 120, 120);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  }
  .boton-contactar:hover{
    background-color: rgb(255, 199, 88);
    border: solid 7px rgb(255, 199, 88);
    border-radius: 10px;
    transition: 0.4s;
    transform: scale(1.1)
  }



/* MI SKILLS */
.js{
  width: 12%;
}
.html{
  width: 10%;
}
.css{
  width: 10%;
}
.boostrap{
  font-size: 45px;
  color: rgb(112, 71, 173);
}
.git-hub{
  font-size: 45px;
  color: rgb(241, 80, 47);
}
.wordpress{
  font-size: 45px;
  color: rgb(56, 97, 140);
}

.js{
  font-size: 45px;
  color: #f0db4f;
}
.react-logo{
  font-size: 45px;
  color: rgb(97, 219, 251);
 
}

.texto-html-css-js{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.speace-around-entre-objetos{
  display: flex;
  justify-content:space-around;
}




 /* tamaño de la barra de scroll  */
 body::-webkit-scrollbar{
  background-color: #ffffff;
  width: 15px;
}
/* color del boton de scrool  */
body::-webkit-scrollbar-thumb{
  background-color: rgb(41, 41, 41);
  border-radius: 8px;
  border: 3px solid rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb:hover{
  background-color: rgb(101, 101, 101);
}

.tutuca {
  display: flex;
} 

 .tutuca .tutuca-2 {
  margin: 0 10px;
} 

.tutuca .tutuca-2 .tutuca-3 {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  .tutuca .tutuca-2 .tutuca-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .tutuca .tutuca-2 .tutuca-3:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  

 
.fa-facebook-squarei:hover{
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
 

.fondo-portafolio{
  background-color: rgb(10, 10, 10);
  
}

.texto-portafolio{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  
}






.z .y {
  list-style: none;
}

.z .y .r {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.z .y .r .iconn {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.z .y .r:hover .iconn {
  color: #fff;
  transform: rotateY(360deg);
}

.z .y .r:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.z .y .r:hover:before {
  top: 0;
}

.z .y:nth-child(1) .r:before{
  background: #3b5999;
}

.z .y:nth-child(2) .r:before{
  background: #000000;
}

.z .y:nth-child(3) .r:before {
  background: #0077b5;
}

.z .y:nth-child(4) .r:before {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.z .y:nth-child(5) .r:before{
background:#19b552;
}

.z .y:nth-child(6) .r:before{
  background:#b5192e;
  }



/*.contenedor{
   width: 100%;
  display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh;
} */
.contenedor figure{
 /* position:relative; */
  /* height: 250px; */
  /* cursor:pointner- cambiaa la flecha del mouse */
  cursor: pointer;
  /* width: 350px; */
  /* overflow: hidden; te permite no mostrar el contenido de un elemento que sobresale cuando es demasiado grande para caber. */
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  /* will-change: transform; */
}
.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,103,123,0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
 text-align: center;
 /*  */
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img{
  transform: scale(1.3);
}
.contenedor figure .capa h3{
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
   margin-top: 30px;
}
.contenedor figure .capa p{
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}



  



.ver-diseño{
  font-size: 2px;
  text-decoration: none;
  color: white;
  background-color: rgb(255, 199, 88);
  border: solid 4px;
  border-left: 50px;
  border-color: rgb(255, 199, 88);
  border-radius: 5px;}

      .ver-diseño:hover{
      background-color: rgb(0, 0, 0);
      border: solid 4px;
      border-color: rgb(0, 0, 0);
      border-radius: 4px;
      color:  rgb(255, 199, 88);
      transition: 0.3s;
      transform: scale(1.150);}


.repositorio-diseño{
  text-decoration: none;
  color: white;
  background-color: rgb(255, 199, 88);
  border: solid 4px;
  border-color: rgb(255, 199, 88);
  border-radius: 4px;}

      .repositorio-diseño:hover{
        background-color: rgb(0, 0, 0);
        border: solid 4px;
        border-color: rgb(0, 0, 0);
        border-radius: 4px;
        color:  rgb(255, 199, 88);
        transition: 0.3s;
        transform: scale(1.150);}



/* animista */
@-webkit-keyframes rotate-top{0%{-webkit-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);-webkit-transform-origin:top;transform-origin:top}}@keyframes rotate-top{0%{-webkit-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);-webkit-transform-origin:top;transform-origin:top}}

.scale-in-ver-top{-webkit-animation:scale-in-ver-top 1s;animation:scale-in-ver-top 2s}
@-webkit-keyframes scale-in-ver-top{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}@keyframes scale-in-ver-top{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}

.scale-in-ver-bottom{-webkit-animation:scale-in-ver-bottom 1s;animation:scale-in-ver-bottom 1s}
@-webkit-keyframes scale-in-ver-bottom{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}@keyframes scale-in-ver-bottom{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}

.scale-in-hor-right{-webkit-animation:scale-in-hor-right 1s;animation:scale-in-hor-right 2s; }
@-webkit-keyframes scale-in-hor-right{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}}@keyframes scale-in-hor-right{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}}