@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

/* TAMAÑO DE LA BARRA DE SCROLL*/
body::-webkit-scrollbar {
    background-color: #ffffff;
    width: 15px;
}
/* color del boton de scrool  */
body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101);
}
/* boton subir */
#btnSubirArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 10px black;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
  }
 
  #btnSubirArriba i{
color: #ffffff;
  }
  #btnSubirArriba:hover {
    border: solid 10px rgb(75, 75, 75);
    background-color: rgb(75, 75, 75);
    transition: 0.5s;
  }
  


/*************************/
/*** MENU HAMBURGUESA ***/
/***********************/
.hamburger {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
    border: solid 2px rgb(255, 199, 88);
}
.hamburger__container {
    width: 36px;
    height: 24px;
    position: relative;
}
.hamburger:hover .hamburger__inner {
    transform: translate(-51px, 50%);
    opacity: 0;
}
.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
    transform: translate(102px, 0);
    opacity: 0;
}
.hamburger.is-active .hamburger__inner {
    display: none;
}
.hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}
.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}
.hamburger__inner::before {
    top: -13px;
}
.hamburger__inner::after {
    top: 13px;
}
.hamburger__hidden {
    opacity: 0;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: #ffffff;
    top: 50%;
    transform: translate(51px, -50%);
}
.hamburger:hover .hamburger__hidden {
    opacity: 1;
    transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
    opacity: 1;
    transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
    transform: translate(0, 13px) rotate(90deg);
    transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
    transform-origin: center;
    transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden::before,
.hamburger__hidden::after {
    width: 100%;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: #ffffff; 
    content: "";
    transform: translate(102px, 0);
}
.hamburger__hidden::before {
    top: -13px;
}
.hamburger__hidden::after {
    top: 13px;
}
.navbar-collapse {
    transition: height 1.0s ease;
  }
/* ********************************************************************************************************************************* */




  

/********************/
/*** MODO OSCURO ***/
/******************/
body.modo-oscuro {
    background-color: rgb(20, 20, 20);
    color: white;
  }
  .modo-oscuro .diseño-ola {
    background-image: url(./imagenes/imagen-personal/ola-negra.png);
  }
  .modo-oscuro .diseño-ola-contacto{
    background-image: url(./imagenes/imagen-personal/ola-negra.png);
  }
  .modo-oscuro .acerca-de-Titulo{
    background-color: rgba(50, 50, 50, 1);
  }
  .modo-oscuro .acerca-de-Titulo h1{
    -webkit-text-stroke: 1px #ffffff ;
  }
  .modo-oscuro .acerca-de-fondo{
    background-color: rgba(50, 50, 50, 1);
  }
.modo-oscuro .titulo-proyectos h1{
    -webkit-text-stroke: 1px #ffffff ;
}
  .modo-oscuro .sobre-mi {
    color: white;
    transition: 0.5s;
  }
  .modo-oscuro #sobremi .sobremi .parrafo{
    color: rgb(219, 219, 219);
  }
  .modo-oscuro #sobremi .sobremi h2{
    color: rgb(219, 219, 219);
  }
.modo-oscuro #sobremi .sobremi .titulo-seccion{
    color: white;
}
.modo-oscuro #sobremi .sobremi .console-container{
    color: white;
}
.modo-oscuro .logo-navBar-colores i{
    color: white;
}
.modo-oscuro .console-underscore {
    background-color: rgb(20, 20, 20);
  }
.modo-oscuro .navbar-bg{
    background-color:rgb(0, 0, 0, 0.877);
}
.modo-oscuro .parrafo-logo h3{
color: white;
}
.modo-oscuro .logos-imagen li{
    background-color: rgb(85, 81, 81);
}
.modo-oscuro .logos-imagen ul li a{
    color: rgb(255, 255, 255);
}
.modo-oscuro .logos-imagen ul li a:hover{
    background-color: rgb(255, 199, 88);
    color: rgb(0, 0, 0);
    border-radius: 6% 6% 6% 6%;
    transition: 0.5s;
    border: none;
}
.modo-oscuro span{
    color: rgb(255, 199, 88);
}
.modo-oscuro .tecnologíasyhabilidades{
    color: rgb(255, 199, 88);
}
.modo-oscuro .tecnologíasyhabilidades p:hover{
    border-color: rgb(0, 0, 0) ;
}
.modo-oscuro .fondo-contacto{
    background-color: rgb(50, 50, 50, 1);
}
.modo-oscuro .fondo-elige-un-color{
    background-color: rgb(50, 50, 50, 1);
    border: solid 2px rgb(70, 70, 70);
}
.modo-oscuro .elige-un-color{
    color: white;
    font-weight: 600;
}
  .modo-oscuro ul li .diseño-texto-navbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(20, 20, 20);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}
.modo-oscuro ul li .diseño-texto-navbar:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}
.modo-oscuro ul li .diseño-texto-navbar:hover {
    color: rgb(50, 50, 50);
}
.modo-oscuro ul li .diseño-texto-navbar:hover:before {
    transform: scaleY(1);
    opacity: 1;
}
.modo-oscuro ul li .diseño-texto-navbar:hover:after {
    transform: scaleY(1);
    opacity: 1;
} 
.modo-oscuro #btnSubirArriba{
    border: solid 10px rgb(255, 255, 255);
    background-color: #ffffff;
    transition: 0.5s;
}
.modo-oscuro #btnSubirArriba i{
    color: rgb(50, 50, 50, 1);
}
.modo-oscuro #btnSubirArriba i:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.modo-oscuro #btnSubirArriba:hover{
    border: solid 10px rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    transition: 0.5s;
}



/***************************/
/*** BARRA DE NAVEGACIO ***/
/*************************/
/*** LOGO GR/ ***/
.parrafo-logo{
    padding-left: 2em;
}
.parrafo-logo p{
    color:rgb(255, 199, 88);
    font-size: 25px;
    transition: 0.5s;
}
        .parrafo-logo h3{
            color: rgb(0, 0, 0);
        font-size: 25px;
        transition: 0.5s;
        font-family: 'Montserrat', sans-serif;
        }
/*** SECCION INICIO ***/
#navbar {
    position: fixed;
    width: 100%;
    height: 60px; 
    transition: background-color 0.5s ease;
    padding: 0px;
  }
  .navbar-bg {
     /* background-color: hsla(229, 16%, 20%, 0.877);  */
     background-color: hsla(0, 0%, 100%, 0.877); 
  }
  .posicion-nav {
    justify-content:space-evenly;
    width: auto;
}
.posicion-nav .marginLeft-del-navBar{
   margin-left: 30px;
}

/*** LOGOS DEL NAVBAR ***/
.logos-colores{
    display: flex;
    justify-content: center;
}
.logos-colores li{
    flex: 1;
  text-align: center;
  font-size: 1em;
}
.logo-navBar-colores i{
    color: rgb(0, 0, 0);
}

ul {
    display: flex;
    justify-content: center;
}
ul li {
    list-style: none;
}
ul li .sobre-mi {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    text-transform: uppercase;
     margin: 20px 0px; 
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    z-index: 1;
    padding-bottom: 5px;
}
/* ANIMACION DEL ENGRANAJE */
.fa-gear{
    animation: homeSpinner 10s linear infinite;
}
@keyframes homeSpinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
 .fondo-elige-un-color{
    border: solid 2px rgb(70, 70, 70);
}
.elige-un-color{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
} 
ul li .diseño-texto-navbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}
ul li .diseño-texto-navbar:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 50, 1);
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}
ul li .diseño-texto-navbar:hover {
    color: #fff;
}
ul li .diseño-texto-navbar:hover:before {
    transform: scaleY(1);
    opacity: 1;
}
ul li .diseño-texto-navbar:hover:after {
    transform: scaleY(1);
    opacity: 1;
} 
.navbar-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--color-seleccionado);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}
.navbar-item::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 50, 1);
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}
.navbar-item:hover {
    color: #fff;
}
.navbar-item:hover::before {
    transform: scaleY(1);
    opacity: 1;
}
.navbar-item:hover::after {
    transform: scaleY(1);
    opacity: 1;
}



/**********************************/
/*** TEXTO DE IMAGEN PRINCIPAL ***/
/********************************/
.inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio .contenido .presentacion .bienvenida {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}
.inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: rgb(255, 199, 88);
}
.inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}
.inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
.inicio .contenido .presentacion a:hover {
    background-color: rgb(255, 199, 88);
}



/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
 #sobremi {
    margin: auto;
    color: #111135;
    display: flex;
    padding: 100px 0px 0px 0px; 
    /* background: linear-gradient(to bottom, #ccc, #fff) top/100% 100px no-repeat;  */
} 
#sobremi .sobremi {
    padding: 60px 0px 0px 50px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px; 
}
#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 25px 0;
    letter-spacing: 2px;
}
#sobremi .sobremi span {
    color: rgb(255, 199, 88);
}
#sobremi .sobremi .console-container span {
    color: rgb(255, 199, 88);
}
#sobremi .sobremi .console-container {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.console-underscore {
 display:inline-block;
 position:relative;
 left:10px;
 background-color: #111135;
}
@media (max-width: 750px) {
 .console-container { font-size:2em; }
}
#sobremi .sobremi .parrafo {
    font-size: 16px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
    font-weight: 500;
    padding: 0px 20px 0px 0px;
}
#sobremi .sobremi .descargarCV {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: rgb(255, 199, 88);
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px;
    margin-top: 30px;
    transition: 0.5s;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen {
    width: 350px;
    height: 350px;
    padding-top: 20px;
    border: 10px solid rgb(255, 199, 88);
    box-sizing: border-box;
}
.contenedor-imagen img{
    width: 350px;
    height: 350px;
margin-top: -80px;
margin-left: 50px;
filter: drop-shadow(16px 16px 20px rgba(189, 189, 189, 0.8));
border: 10px solid rgb(255, 255, 255);
transition: transform 0.3s ease-in-out;
}
.contenedor-imagen img:hover,
.contenedor-imagen img:active {
    transform: scale(1.1) rotate(2deg);
}

.contenedor-imagen img:active {
    transition-duration: 0.05s;
}
.fondo-imagen-personal{
     padding: 100px; 
}
/* 
.contenedor-imagen {
    width: 350px;
    height: 350px;
    padding-top: 20px;
    border: 10px solid rgb(255, 199, 88);
    box-sizing: border-box;
}
.contenedor-imagen img{
    width: 350px;
    height: 350px;
margin-top: -80px;
margin-left: 50px;
filter: drop-shadow(16px 16px 20px rgba(189, 189, 189, 0.8));
border: 10px solid rgb(255, 255, 255);
transition: transform 0.3s ease-in-out;
}
.contenedor-imagen img:hover {
    transform: scale(1.1) rotate(2deg);
  }
  .contenedor-imagen img:active {
    transform: scale(0.9) rotate(-2deg);
    transition-duration: 0.05s;
  }
.pepito{
     padding: 100px; 
} */
.contenedor-imagen-logos{
    display: flex;
}
.sobre-mi .logos-imagen{
    border: none;
}

.logos-imagen li{
    background-color: #e0e0e0;
    border-radius: 10% 10% 10% 10%;
}
.logos-imagen ul{
   display: inline-block;
   margin-left: 2em;
}
.logos-imagen ul li a{
    color: #000;
    font-size: 1.3em;
    transition: 0.5s;
}
.logos-imagen ul li a:hover{
    background-color: rgb(255, 199, 88);
    color: white;
    border-radius: 10% 10% 10% 10%;
    transition: 0.5s;
    border: none;
}


/******************/
/*** ACERCA DE ***/
/****************/
  .diseño-ola {
    width: 100%;
    background-image: url(./imagenes/imagen-personal/ola-blanca.png);
    background-size: 100%;/* 100% 180px; */
    background-position: center top;
    background-repeat: no-repeat;
    margin-bottom: -25px;
    padding-top: 115px;
}
/* ajusta la posición de la segunda imagen para que se superponga en la primera */
.diseño-ola:hover {
    background-position: center top, center 80%;
}
.acerca-de-fondo{
    background-color: rgb(232, 232, 232);
}
.acerca-de-Titulo{
    background-color: rgba(232, 232, 232);
}
.acerca-de-Titulo h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 1px #111135 ;
    letter-spacing: 20px;
    opacity: 0.2;
}
.gonzalo-robledo{
    font-size: 34px;
    margin: 20px 0;
    font-weight: bold;
}
.tecnologíasyhabilidades div{
    margin-right: 12px;
}
.tecnologíasyhabilidades h3{
    font-size:2em;
}
 .tecnologíasyhabilidades p{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: #e9e9e9;
    display: inline-block;
    text-decoration: none;
    color: #1b1b1b;
    border-radius: 30px;
    border: 2px solid #00000042;
    padding: 10px 20px;
    margin-top: 30px;
    transition: 0.5s;
}
.tecnologíasyhabilidades p:hover{
    border: 2px solid rgb(49, 49, 49);
    transition: 0.5s;
}



/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family:'poppins', sans-serif;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: 1px #111135 ;
    letter-spacing: 20px;
    opacity: 0.2;
}
.titulo-proyectos i {
    display: flex;
    align-items: center;
    color: rgb(255, 199, 88);
    margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
    margin-left: 5px; /* Ajusta el margen izquierdo según tus preferencias */
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
.linea-proyecto{
    background-color: rgb(255, 199, 88);
    color: transparent;
}
#portfolio {
    max-width: 1100px;
    /* padding: 0px 100px 100px 100px; */
    margin: auto;
}
#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
     /* box-shadow: 0px 0px 10px 5px rgb(255, 199, 88); */
     box-shadow: 10px 10px 10px 5px rgba(255, 199, 88, 0.596);
}
#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
  
}
#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}
#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
}
#portfolio .fila .proyecto .info p{
    color: rgb(255, 199, 88);
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
.espacio-ver-repositorio .ver{
    margin-right: 100px;
    }



/***************/
/*** DIBUJOS ***/
/***************/
.fondo-dibujo {
    background-color: rgb(43, 43, 43);
    border: 5px solid rgb(241, 241, 241);
    margin-bottom: 200px;
    filter: drop-shadow(16px 16px 20px rgba(189, 189, 189, 0.8));
}
section {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}
section>div {
    display: grid;
    grid-template-areas:
        "div1 div4 div5 div11"
        "div2 div4 div5 div7"
        "div3 div6 div6 div7"
        "div9 div8 div10 div12"
        "div9 div8 div10 div12";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    border-radius: 10px;
    padding: 1rem;
    gap: 20px;
}
.grid-hijo-1 {
    grid-area: div1;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-1:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-2 {
    grid-area: div2;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-2:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-3 {
    grid-area: div3;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-3:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-4 {
    grid-area: div4;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-4:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-5 {
    grid-area: div5;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-5:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-6 {
    grid-area: div6;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-6:hover {
    transition: 0.3s;
    transform: scale(1.020);
}
.grid-hijo-7 {
    grid-area: div7;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-7:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-8 {
    grid-area: div8;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-8:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-9 {
    grid-area: div9;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-9:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-10 {
    grid-area: div10;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-10:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-11 {
    grid-area: div11;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-11:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
.grid-hijo-12 {
    grid-area: div12;
    overflow: hidden;
    transition: all 400ms ease-out;
}
.grid-hijo-12:hover {
    transition: 0.3s;
    transform: scale(1.050);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
[class^="grid-hijo"] {
    border: 1px solid rgb(43, 43, 43);
}
.aaa {
    margin-top: -30px;
}
/* EFECTO LIGHTBOX GRID GALERIA DE DIBUJOS */
.gallery-block.compact-gallery .item .description {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}
.gallery-block.compact-gallery .item .description .description-heading {
    font-size: 1em;
    font-weight: bold;
}
.gallery-block.compact-gallery .item .description .description-body {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
}



/*************************/
/*** SECCION CONTACTO ***/
/***********************/
.fondo-contacto{
    /* background-color: rgb(234, 234, 234); */
    background-color: rgb(50, 50, 50, 1);
}
.fondo-contacto h3{
    color: white;
}
.diseño-ola-contacto{
    background-image: url(./imagenes/imagen-personal/ola-negra\ -\ fondo-blanco.png);
    width: 100%;
    background-size: 100%;/* 100% 180px; */
    background-position: center top;
    background-repeat: no-repeat;
    margin-bottom: -25px;
    padding-top: 125px;
}
.texto-portafolio-contacto {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.speace-around-entre-objetos-contacto {
    justify-content: center;
}
.z .y {
    list-style: none;
}
.z .y .r {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.z .y .r .iconn {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
.z .y .r:hover .iconn {
    color: #fff;
    transform: rotateY(360deg);
}
.z .y .r:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.z .y .r:hover:before {
    top: 0;
}
.z .y:nth-child(1) .r:before {
    background: #3b5999;
}
.z .y:nth-child(2) .r:before {
    background: #000000;
}
.z .y:nth-child(3) .r:before {
    background: #0077b5;
}
.z .y:nth-child(4) .r:before {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.z .y:nth-child(5) .r:before {
    background: #f00;
}



/**********************/
/*** SECCION FOOTER ***/
/**********************/
.fondo-footer {
    background-color: rgb(43, 43, 43);
}
.tamaño-parrafo-footer {
    font-size: 20px;
}






 @media screen and (min-width: 992px) and (max-width: 2800px){

}



 @media screen and (min-width: 320px) and (max-width: 991px){
     /*** Navbar ***/
.posicion-nav .marginLeft-del-navBar{
margin-left: 0px;
}
    .navbar-bg {
     background-color:transparent; 
  }
  .modo-oscuro .navbar-bg{
    background-color:transparent;
}
    ul li .sobre-mi {
       color: white;
        padding-bottom: 5px;
        padding: 10px 10px;
        margin: 10px 0px;
    }
/*** LOGOS DEL NAVBAR ***/
    .logo-navBar-colores{
        color: rgb(0, 0, 0);
        flex-direction: row;
        justify-content:left;
        
    }
    .logo-navBar-colores i{
        color: rgb(255, 255, 255);
        padding: 0px 20px;
    }
   .logos-colores i{
    padding: 0px 10px;
   }
    .fondo-elige-un-color{
        background-color: hsla(229, 16%, 20%, 0.877); 
        border: solid 2px rgb(117, 117, 117);
       margin-left: -95px;
        margin-bottom: 15px;
    }
    .elige-un-color{
        color: white;
    } 
    
   .fondo-nav {
    background-color: hsla(229, 16%, 20%, 0.877);
}
/*** LOGO GR/ ***/
.parrafo-logo{
    padding-left: 0em;
}
        .parrafo-logo h3{
            color: rgb(255, 255, 255);
        }
        .hamburger {
            padding: 15px;
            margin-right: 0em;
        }
 } 













 
    @media screen and (min-width:320px) and (max-width: 400px){
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 130px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#portfolio .fila {
    flex-direction: column;
    margin: 10px 0;
}
#portfolio .fila .proyecto p{
   font-size: 10px;
}
#portfolio .fila .proyecto h4{
    font-size:10px;
 }
#portfolio .fila .proyecto h6 {
    font-size: 10px; 
}
#portfolio .fila .proyecto .info {
    padding: 10px;
}
#portfolio .fila .proyecto .info p{
    margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: 10px;
    }



}
 @media screen and (min-width:320px) and (max-width: 480px) {
/*************************/
/*** SECCION SOBRE MI ***/
/***********************/
 #sobremi {
    padding: 100px 0px 0px 0px; 
} 
#sobremi .sobremi {
    padding: 40px 5px 0px 5px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
}
#sobremi .sobremi h2 {
    font-size: 19px;
    margin: 10px 0;
}
#sobremi .sobremi span {
    font-size: 19px;
}
#sobremi .sobremi .console-container {
    font-size: 19px;
}
/* IMAGEN SOBRE-MI */
.contenedor-imagen-logos{
    flex-direction: column;
} 
  .contenedor-imagen {
    max-width: 100%;
    height:auto;
    border: 5px solid rgb(255, 199, 88);
}
.contenedor-imagen img{
    max-width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 20px ;
    border: 5px solid rgb(255, 255, 255);
}
.fondo-imagen-personal{
    margin-top: 2em;
    padding: 50px;
}
.logos-imagen li{
    background-color: #e0e0e0;
    border-radius: 10% 10% 10% 10%;
    margin: auto;
}
.logos-imagen ul{
   display:flex;
   margin-left: 0em;
   padding: 0px;
}
.logos-imagen ul li a{
    margin: 0px;
    font-size: 1.3em;
}
/******************/
/*** ACERCA DE ***/
/****************/
.diseño-ola {
    margin-top: 100px;
    max-width: 100%;
    background-image: url(./imagenes/imagen-personal/ola-blanca.png);
    background-size: 100%;/* 100% 180px; */
    background-position: center top;
    background-repeat: no-repeat;
     margin-bottom: -25px;
    padding-top: 65px;  
}
.diseño-ola-contacto{
    margin-bottom: -25px;
    padding-top: 65px;
}
.gonzalo-robledo{
    margin-top: 0px;
    margin: 7px 0px 0px 0px;
}
.acerca-de-Titulo h1{
    margin: 0px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
.tecnologíasyhabilidades h3{
    font-size:1.4em;
}
/*****************/
/*** PROYECTOS ***/
/*****************/
.titulo-proyectos h1{
    margin-top: 130px;
    padding: 0px 15px;
    font-size: 30px;
    letter-spacing: 10px;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 12px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila {
    flex-direction: column;
    margin: 10px 0;
}
#portfolio .fila .proyecto p{
   font-size: auto;
}
#portfolio .fila .proyecto h4{
    font-size:auto;
 }
#portfolio .fila .proyecto h6 {
    font-size: auto; 
}
#portfolio .fila .proyecto .info {
    padding: 10px;
}
#portfolio .fila .proyecto .info p{
   margin-bottom: 5px;
}
.espacio-ver-repositorio .ver{
margin-right: 50px;
}
.espacio-ver-repositorio i{
    font-size: auto;
    }
/***************/
/*** DIBUJOS ***/
/***************/
    section>div {
        grid-template-areas:
            "div1 div4"
            "div11 div4 "
            "div6 div6 "
            "div6 div6 "
            "div9 div8 "
            "div9 div8 "
            "div7 div12 "
            "div7 div12 "
            "div5 div10 "
            "div5 div10 "
            "div3 div2 "
            "div3 div2 ";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 45px);
    }
/*****************/
/*** CONTACTO ***/
/***************/
    .speace-around-entre-objetos-contacto {
        display: block;
        padding: 0px;
    }
    .y {
        padding-top: 20px;
    }
    .z .y .r {
        margin: auto;
    }
/**********************/
/*** SECCION FOOTER ***/
/**********************/
.tamaño-parrafo-footer {
    font-size: 20px;
}
  }

  